<!DOCTYPE html>

<html
        xmlns:th="http://www.thymeleaf.org" xmlns:lth="http://www.thymeleaf.org" lang="ko"
        th:fragment="addMemberContent(project, memberList, waitList)">
<head>
    <meta charset="utf-8">

    <title>YOU#</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>



    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


    <!-- 내 css  -->
    <link rel="stylesheet" href="/css/injoyMain.css">
    <script th:src="@{/js/project/addMember.js}" defer></script>
</head>
<body>


<div class="container" style="content-align: center ;background-color: #ffffff">




    <th:block th:fragment="${project}"></th:block>

    <h5 class="title"> 회원검색 </h5>
    <div class="row" style="justify-content: space-evenly;">
        <div class="search col-md-6">
            <input type="text" placeholder="검색어 입력" id="searchKeyword" th:onkeyup="|enter(${project.projectId})|" />
            <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" th:onclick="|searchUser(${project.projectId})|" >

        </div>

        <div class="col-md-2" style="text-align: center;">
            <button class="btn-orange" style="width: 120px;height: 50px;font-size: inherit;" id="code" th:value="${project.invitationCode}" th:onclick="copyCode()">
                초대코드복사
            </button>
        </div>

    </div>




    <div id="searchResult" style="display: none">
        <h5 class="title"> 검색 결과 </h5>
        <div class="scrollDiv">
            <div class="searchBack">
                <div class="row mt-5 mb-5" style="justify-content: center; ">
                    <div class="col-md-6" id="searchDivMain">


                    </div>
                </div>

            </div>
        </div>
    </div>
    <div>
        <h5 class="title"> 참여중인 회원 </h5>
        <div class="scrollDiv">
            <div class="row g-2" style="justify-content: center">
                <h1 th:fragment="${memberList}" ></h1>
                <div class="col-md-6" th:each=" member : ${memberList}" th:id="'user'+${member.userId}" name="member">
                    <div class="card mb-3" style="max-width: 540px; height: 100%;">
                        <div class="row " >
                            <div class="col-md-4">
                                <img src="/img/moru.jpg" class="member" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">

                                    <i class="fa-solid fa-crown" style="color: #ffb30d;" th:if="${member.authority.toString.equals('MANAGER')} "></i>
                                    <h5 class="card-title mt-1" th:text="${member.name}"></h5>
                                    <p class="card-text" th:text="${member}">모루카의 포테토</p>

                                    <button class="imgButton" th:onclick="|deleteUser(${member.userId},1)|"
                                            th:if="${!member.authority.toString.equals('MANAGER')}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                             fill="#F5544D" class="bi bi-dash-square" viewBox="0 0 16 16">
                                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                        </svg>
                                    </button>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="field"></div>


            </div>

        </div>


        <h5 class="title"> 참여대기 회원 </h5>
        <h1 th:fragment="${waitList}"></h1>

        <div class="card"  style="min-height: 300px;padding: 150px; text-align: center;" th:if="${waitList.size} == 0 ">
            <h1 class="projectTitle">승인 대기중인 회원이 없습니다</h1>


        </div>



        <div class="scrollDiv">
            <div class="row g-2" style="justify-content: center">

                <div class="col-md-6"  th:each=" waitMember : ${waitList}" th:id="'user'+${waitMember.userId}" name="wait" >
                    <div class="card mb-3" style="max-width: 540px; height: 100%;">
                        <div class="row g-0" >
                            <div class="col-md-4">
                                <img src="/img/moru.jpg" class="member" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${waitMember.name}"></h5>
                                    <p class="card-text">This is a wider card with supporting text below as a
                                        natural lead-in to additional content. This content is a little bit
                                        longer.</p>

                                    <button class="imgButton" th:onclick="|deleteUser(${waitMember.userId},2)|">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                             fill="#F5544D" class="bi bi-dash-square" viewBox="0 0 16 16">
                                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                        </svg>
                                    </button>
                                    <div th:id="'plus'+${waitMember.userId}">
                                        <button class="imgButton"  th:onclick="|approveUser(${waitMember.userId}, ${waitMember.projectId})|">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                 fill="#266648" class="bi bi-plus-square" viewBox="0 0 16 16">
                                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                            </svg>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>


</body>

</html>
