<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" th:fragment="calendarContent(project, login)">
<head>
    <meta charset="UTF-8">
    <title>캘 린 더</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/main.min.css">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!--    flatpickr-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!--    flatpickr 테만 변경 선택-->
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css"/>


<!--    &lt;!&ndash;    부트스트랩 &ndash;&gt;-->
<!--    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet'>-->
<!--    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>-->



<!--    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>-->

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<!--    <link rel="stylesheet" href="path/to/material-design-iconic-font/css/material-design-iconic-font.min.css">-->


    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>


    <!--    Google Mpas Api-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABN0ndYhxNu4zHlvEfKi_r42aSUMeVUaI&libraries=places"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABN0ndYhxNu4zHlvEfKi_r42aSUMeVUaI&libraries=places"
            defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABN0ndYhxNu4zHlvEfKi_r42aSUMeVUaI&libraries=places"></script>







    <style>
        @font-face {
            font-family: 'Pretendard-Regular';
            src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
            font-weight: 400;
            font-style: normal;
        }

        * {
            font-family: 'Pretendard-Regular', serif;

            border-collapse: collapse;
        }

        /*캘린더 사이즈*/
        #calendarBox {
            width: 90%;
            height: 90%;
        }

        /*캘린더 스크롤 없애기*/
        .fc-scroller {
            overflow-y: hidden !important;
        }


        #scheduleTitle {
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 60px;
        }

        #scheduleTitle::placeholder {
            font-size: 20px;
            font-weight: bold;
        }

        /*.writeScheduleContent {*/
        /*    width: 434px;*/
        /*    min-height: 200px;*/
        /*    border: none;*/
        /*}*/
        #writeScheduleContent {
            border: 2px solid blue;
            resize: none;
            border-radius: 5px;
        }

        /*캘린더 이벤트 폰트 설정*/
        .fc-event {
            font-weight: bold;
        }


        /* Google autocomplete z-index css*/
        .pac-container {
            background-color: #FFF;
            z-index: 20;
            position: fixed;
            display: inline-block;
            float: left;
        }

        .modal {
            z-index: 20;
        }

        .modal-backdrop {
            z-index: 10;
        }


        /*여기서부터 옆 슬라이드 CSS*/
        .show-header-cart {
            visibility: visible;
            background-color: rgba(0, 0, 0, 0.6);
        }

        .show-header-cart .header-cart {
            right: 0;
        }

        .wrap-header-cart {
            position: fixed;
            z-index: 1100;
            width: 100%;
            height: 100vh;
            top: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.0);
            visibility: hidden;

            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
        }

        .header-cart {
            position: fixed;
            z-index: 1100;
            /*width: 390px;*/
            /*width: 500px;*/
            width: 600px;
            max-width: calc(100% - 30px);
            height: 100vh;
            top: 0;
            right: -600px;
            background-color: #fff;

            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.34s;
            transition: all 0.4s;

            box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
            -moz-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
            -webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
            -o-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
            -ms-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
        }

        .header-cart::after {
            content: "";
            display: block;
            width: 100%;
            height: 9%;
            min-height: 30px;
        }

        .show-header-cart {
            visibility: visible;
            background-color: rgba(0, 0, 0, 0.6);
        }

        .show-header-cart .header-cart {
            right: 0;
        }

        /*.header-cart::-webkit-scrollbar { !* 스크롤 없애기 *!*/
        /*    display: none;*/
        /*}*/


        .cal2 {
            display: inline-block;
            background-color: #FFF;
            width: 105px;
            font-family: Arial, sans-serif;
            text-align: center;
        }

        .cal2 {
            height: 30px;
            line-height: 30px;
            font-size: 0.75rem;
            text-transform: uppercase;
            background-color: #FFF;
            color: #00B19c;
            font-weight: 800;
        }

        .cal2 .date2 {
            font-size: 1em;
            font-weight: bold;
            color: black;
            line-height: 30px;
            background-color: #eeeeee;
        }

        .date2 {
            border-radius: 5px;
        }


        /*google map img size*/
        #mapImage {
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }


        /*캘린더 사진*/
        .cal {
            display: inline-block;
            background-color: #FFF;
            width: 70px;
            font-family: Arial, sans-serif;
            text-align: center;
        }

        .cal .month {
            height: 30px;
            line-height: 30px;
            font-size: 0.75rem;
            text-transform: uppercase;
            background-color: #FFF;
            color: #00B19c;
            font-weight: 800;
        }

        .cal .date {
            font-size: 2rem;
            font-weight: bold;
            color: #FFF;
            line-height: 44px;
            background-color: #00B19c;
        }

        .date {
            border-radius: 0 0 10px 10px;
        }

        .month {
            border: 1px solid #CCCAC5;
            border-radius: 10px 10px 0 0;
        }

        .modal-footer {
            display: flex;
            flex-direction: row;
            justify-content: start;
        }


        /*                      댓글창                          */
        .comment-input-wrap {
            overflow: hidden;
            padding: 14px 30px;
        }

        .comment-input-wrap p {
            font-size: 14px;
            color: #555;
        }

        .user-profile-thumbnail {
            width: 40px;
            float: left;
        }

        .thumbnail.size40.radius16 {
            border-radius: 16px;
            cursor: default;
        }

        .thumbnail.size40 {
            width: 40px;
            height: 40px;
        }

        .thumbnail {
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: #fff;
            border: 1px solid #eee;
            box-sizing: border-box;
            vertical-align: middle;
        }

        .comment-container {
            display: block;
            float: left;
            position: relative;
            width: calc(100% - 50px);
            margin-left: 10px;
            box-sizing: border-box;
        }

        .commentInput {
            width: 100%;
            padding: 11px 75px 11px 20px;
            min-height: 40px;
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
            color: #555;
            word-break: break-word;
            white-space: pre-wrap;
            cursor: text;
        }

        /*                      댓글창                          */


        #commentDelnModi {
            display: flex;
            flex-direction: row;
        }



    </style>
</head>
<body>
<!--<div id="tlqkf">-->
<!--    <p th:text="${title}"></p>-->
<!--    <p th:text="${address}"></p>-->
<!--    <p th:text="${calobj.id}"></p>    아마 이렇게 하면 될지도...-->
<!--</div>-->

<!--<div id="calendarBox">-->
    <div id='calendar'></div>
<!--</div>-->




<!--<p th:text="${login}"></p>-->

<!--<p th:text="${project}"></p>-->
<!--<p th:text="${project.projectId}"></p>-->
<!--<p th:text="${project.projectName}"></p>-->
<!--<div id= "projectNameName" th:value="${project.projectName}"></div>-->
<input type="hidden" id="projectNameName" th:value="${project.projectName}">
<input type="hidden" id="projectIdId" th:value="${project.projectId}">
<input type="hidden" id="logInnn" th:value="${login.userId}">
<input type="hidden" id="logInnname" th:value="${login.name}">


<!-- Modal -->
<div class="modal " id="addScheduleModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title mr-2" id="addTaskModalLabel" style="font-weight: 900">
                                일정 작성 |
                            </span>
                <div style="padding-left: 8px; font-size: 14px;"><span>프로젝트명</span></div>
                <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()"></button>
            </div>
            <form name="calendarForm" id="calendarForm" method="post">
                <div class="modal-body text-start">
                    <div>
                        <input id="scheduleTitle" name="scheduleTitle" placeholder="제목을 입력하세요" />
                        <label for="scheduleTitle"></label>
                    </div>
                    <div>
                        <div class="row mb-3">

                            <div class="col-md-1" style="  align-self: center;">

                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                     class="bi bi-calendar-check mr-3" viewBox="0 0 16 16">
                                    <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                </svg>
                            </div>

                            <div class="col-md-5">
                                <label>

                                    <input class="mr-2 scheduleStartDate startCalDate"
                                           style="border: none; border-bottom: 1px solid #777777; font-weight: 900"
                                           name="startDate" id="startDate"
                                           value=""/>
                                </label>
                            </div>
                            <div class="col-md-1" style="    align-self: center;margin: inherit;">

                            ㅡ
                            </div>
                            <div class="col-md-5">
                            <label>
                                <input class="ml-2 scheduleEndDate endCalDate"
                                       style="border: none; border-bottom: 1px solid #777777; font-weight: 900"
                                       name="endDate" id="endDate"
                                       value=""/>
                            </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                 class="bi bi-person mr-3" viewBox="0 0 16 16">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                            </svg>

                            <span>
                                <div class="cal2">
                                    <div class="date2" style="display: flex;">
                                        <div>
                                            <img src="/img/penguin.jpg"
                                                 style="width: 25px; height: 25px; margin-left: 2px; border-radius: 5px">
                                        </div>
                                        <div style="padding-left: 4px;">닉네임을 넣</div>
                                    </div>
                                </div>
                            </span>

                        </div>

                        <div class="mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                 class="bi bi-geo-alt-fill mr-3" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                            </svg>

                            <label>
                                <input type="text" id="addressInputId" name="addressInputId" value=""
                                       onkeyup="if(window.event.keyCode==13){codeAddress()}"
                                       placeholder="입력후 Enter를 입력주세요." size=45 style="border: none"/>
                            </label>

                            <div id="imgDiv">
                                <!--                                    <img id="mapImage" src="" alt="static map" style="width: 514px; height: 185px; visibility: hidden; border-radius: 15px;">-->
                            </div>

                        </div>

                        <div class="mb-5" style="display: flex; flex-direction: row; margin-bottom: 0!important;">
                            <div style="height: 100%">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                     class="bi bi-clipboard2-check mr-3" viewBox="0 0 16 16">
                                    <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5h3Z"/>
                                    <path d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-12Z"/>
                                    <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3Z"/>
                                </svg>
                            </div>
                            <label>

                                <!--                                <input class="writeScheduleContent" placeholder="내용을 입력하세요." style="border: none;"/>-->
                                <textarea id="writeScheduleContent" name="writeScheduleContent" rows="9" cols="55"
                                          placeholder="내용을 입력하세요." style="border: none; width: 430px"></textarea>
                            </label>
                        </div>


                    </div>
                </div>
                <div class="modal-footer" style="justify-content: end !important;">

                    <button type="button" class="btn taskAddButton"
                            style="background-color: #001542; color: white" id="submitCalSchedule" name="submitCalSchedule">등록
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--  사이드 슬라이드  HTML -->
<div class="wrap-header-cart js-show-schedule">
    <div class="s-full js-hide-cart"></div>

    <div class="header-cart flex-col-l p-l-65 p-r-25" id="tlqkf">

        <div class="header-cart-title flex-w flex-sb-m p-b-8">

            <div class="modal-header p-2">

                <div class="col-0.5">
                    <div style="width: 15px; height: 15px; border-radius: 4px; background-color: blue;margin-left: 10px"></div>
                </div>

                <div class="col-10" style="padding: 0;margin-right: 33px">
                    <span style="font-size: 12px" th:text="${projectName}">프로젝트 이름 </span>
                </div>

                <div class="trans-04 js-hide-cart col-1.5">
                    <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                        <div type="button" class="btn-close" aria-label="Close" onclick="closeTab()"></div>
                    </div>
                </div>

            </div>

        </div>


        <div class="modal-body" style="padding: 10px; ">

            <div class="m-3" style="display: flex;">

                <div class="col-10" style="display: flex; padding: 0;">
                    <!--                    <span>프사</span>-->
                    <div class="user-profile-thumbnail">
                        <span class="thumbnail size40 radius16" style="background-image: url(/img/penguin.jpg)"></span>
                    </div>

                    <div class="m-2" style="display: flex;">
                        <div style="font-size: 14px;"><strong th:text="${usernamee}">닉네임</strong></div>
                        <div style="font-size: 14px; color: #AAAAAA" th:text="${calRegister_date}">작성날짜</div>
                    </div>

                </div>

                <div class="col-2" style="display: flex; padding: 0;">
                    <a href="" style="font-size: 12px; font-weight: bolder; padding: 0;" class="col-10">게시글 보기 </a>
                    <!--          <div>구냥</div>-->
                    <div class="col-2">
                        <div class="dropdown">
                            <a class="bi bi-three-dots-vertical" type="button" id="dropdownMenuButton1"
                               data-bs-toggle="dropdown" aria-expanded="false" th:onclick="showDelnMod([[${writerId}]]);"></a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
                                <li id="modScheduleLi"><a class="dropdown-item" onclick="method()"><i class="bi bi-card-text"></i>수정</a></li>
                                <li><a class="dropdown-item" href="#" onclick="method()"><i class="bi bi-files"></i> 링크 복사</a></li>
                                <li id="delScheduleLi"><a class="dropdown-item" th:onclick="deleteScheduleMethod([[${projectId}]],[[${scheduleId}]]);"><i class="bi bi-trash3"></i> 삭제</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>


            <div class="m-3" style="display: flex;">
                <div class="col-2 m-1" style="padding: 0; ">
                    <div class="cal">
                        <div class="month" th:text="${yearAndMonth}">2023-12</div>
                        <div class="date" th:text="${month}">27</div>
                    </div>
                </div>

                <div class=" col-10 m-2">
                    <div th:text="${calTitle}" style="font-size: 20px; font-weight: bolder;">
                        일정 이름
                    </div>


                    <!--                    <div class="" style="display: flex;">2023-05-16 (화), 12:40 2023-05-18 (목), 13:40</div>-->
                    <div class="" style="display: flex;">
                        <div th:text="${calStart}"></div>
                        <pre> ㅡ </pre>
                        <div th:text="${calEnd}"></div>
                    </div>
                </div>
            </div>


            <hr>  <!--      선-->

            <div>
                 사진 들어갑니다.
            </div>


            <div style="display: flex;">
                <div class="col-2">
                    <br>
                    <i class="bi bi-card-text"></i>
                </div>
                <div class="col-10">
                    <br>

                        <div th:text="${calContent}">
                            여기는 내용이 들어갑니다.
                        </div>
                    <br>


                </div>
            </div>
        </div>


        <div>아 여기에 댓글 총 갯수</div>
        <!--        <hr class="" style="color: rgb(126,125,125);  height: 0.9px;">-->

<!--        <div style="background-color: #eee" id="comment_list_div">-->
        <div style="background-color: #eee" >
            <hr class="" style="color: rgb(126,125,125);  height: 0.9px;">

            <div id="comment_list_div">
                <ul id="comment_list_ul" style="list-style:none; padding: 0;"></ul>
            </div>

            <ul class="comment_list" id="comment_list" style="list-style:none; padding: 0;" th:each="comment : ${commentList}"></ul>

            <div class="comment-input-wrap" style="background-color: #eee">
                <div class="user-profile-thumbnail">
                    <span class="thumbnail size40 radius16" style="background-image: url(/img/penguin.jpg)"></span>
                </div>

                <!--  <form class="comment-container" style="padding: 0;" >-->
                <div class="comment-container" style="padding: 0;">
                    <input type="text" class="commentInput" id="post_comment_input"
                           placeholder="댓글을 입력은 Enter 입니다." value=""
                           aria-label="Recipient's username" aria-describedby="button-addon2"
                           onkeyup="if( window.event.keyCode==13){sendComment()}"/>
                    <!--  </form>-->
                </div>
            </div>
        </div>



    </div>
</div>


<script>
    function showDelnMod(writerId) {
        currentId = document.getElementById("logInnn").value;
        // console.log("writerId : " + writerId);
        // console.log("currentId : " + currentId);
        if(currentId != writerId){
            document.getElementById("modScheduleLi").style.display ='none';
            document.getElementById("delScheduleLi").style.display ='none';
        } else {
            document.getElementById("modScheduleLi").style.display ='block';
            document.getElementById("delScheduleLi").style.display ='block';
        }
    }

    function deleteScheduleMethod(projectId, scheduleId){
        let data = {"projectId" : projectId,
            "scheduleId" : scheduleId
        };
        $.ajax({
            url: "/deleteSchedule",
            type: "POST",
            data: data,
            success: function () {
                location.reload();
            },
            error: function (request, status, error) {
                console.log("통신 실패");
                console.log("code:" + request.status + "\n" + "message : " + request.responseText + "\n" + "error : " + error);
            }
        });

    }
</script>


<!--<script th:inline="javascript">-->
<!--    console.log([[${project}]]);-->
<!--</script>-->

<!--        입력창         -->
<script th:inline="javascript">

    console.log([[${project}]]);

    const textarea = document.getElementById("writeScheduleContent");
    textarea.addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
            const currentValue = this.value;
            this.value = currentValue + "\n";
        }
    });
</script>


<!--&lt;!&ndash; Form enter 전송 막기&ndash;&gt;-->
<!--<script>-->
<!--    document.addEventListener('keydown', function (event) {-->
<!--        if (event.keyCode === 13) {-->
<!--            event.preventDefault();-->
<!--        }-->
<!--        ;-->
<!--    }, true);-->
<!--</script>-->


<!--새로운 일정 전송-->
<script>

</script>


<script>
    var calendarObj;
    var Obj;

    document.addEventListener('DOMContentLoaded', function () {
        $(function () {
            var calendarEll = document.getElementById('calendar');
            var calendarr = new FullCalendar.Calendar(calendarEll, {});
            let data = {
                "activeStart": calendarr.view.activeStart,
                "activeEnd": calendarr.view.activeEnd
            }
            console.log("activeStart : " + calendarr.view.activeStart);
            console.log("activeEnd : " + calendarr.view.activeEnd);

            var request = $.ajax({

                url: "/logic", // URL 새로운거로 다시 넣어주기. 일정 뿌려주기
                method: "GET",
                dataType: "json",
                data: data
            });

            request.done(function (data) {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    themeSystem: 'bootstrap5',
                    initialView: 'dayGridMonth',
                    locale: 'ko',
                    editable: false,
                    selectable: true,//드래그로 선택 가능...
                    headerToolbar: { //Tool Bar
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                    },

                    // dayMaxEvents: true, // 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)
                    // expandRows: true, // 화면에 맞게 높이 재설정

                    allDay: false,
                    select: function (arg) { // 캘린더에서 드래그로 이벤트를 생성할 수 있다.
                        $('#addScheduleModal').show();
                        setDateTime(arg);

                        calendar.unselect(); //이건 뭘까...
                    },

                    // eventColor : '#378006', //이벤트 디폴트 색상 정해줌.

                    events: data,

                    eventClick: function (event) {//이벤트 클릭 시

                        Obj = event.event;
                        console.log("calendarId : " + Obj.id);
                        console.log("제목 : " + Obj.title);
                        console.log("시작일 : " + Obj.start);
                        console.log("끝 : " + Obj.end);

                        const projectName = document.getElementById('projectNameName').value;
                        console.log("프로젝트 이름 : " + projectName);

                        const projectIdId = document.getElementById('projectIdId').value;

                        const loginUserId = document.getElementById("logInnn").value;

                        let dataa = {
                            "calendarId": Obj.id,
                            "projectName": projectName,
                            "projectIdId": projectIdId,
                            "loginUserId" : loginUserId

                        }
                        $.ajax({
                            url: "/testtt",
                            type: "POST",
                            data: dataa,
                        }).done(function (fragment) {
                            console.log("frag: " + fragment);
                            $("#tlqkf").replaceWith(fragment);
                        });

                        var userId = dataa.loginUserId;
                        console.log("현재 로그인 : " + userId);
                        $.ajax({
                            url: "/showCalComment",
                            type: "POST",
                            data: dataa,
                            success: function (result) {
                                // var ul = document.createElement('ul');
                                var ul = document.getElementById("comment_list_ul");
                                // ul.id = "comment_list_ul"
                                // ul.style.cssText = "list-style:none; padding: 0;";

                                // console.log($("#comment_list_div"));

                                result.forEach(function (comment) {

                                    if(userId == comment.calComUserId) {
                                        $(ul).append(
                                            "<li id='" + comment.calCommentId + "'>" +
                                            "<div style='display: flex;' class='m-3'>" +
                                            "<div class='col-1'>" +
                                            "<span class='thumbnail size40 radius16' style='background-image: url(/img/penguin.jpg)'>" +
                                            "</span></div>" +
                                            "<div class='col-11'>" +
                                            "<div style='display: flex; justify-content: space-between'>" +

                                            "<div style='display: flex; flex-direction: row'>" +
                                            "<div style='margin-right: 10px;'>" +
                                            "<strong>" + comment.calComUsername + "</strong>" +
                                            "</div>" +
                                            "<div class='' style='font-size: 14px; padding-top: 3px; color: #AAAAAA;'>"+ comment.calComRegisterDateStr +"</div>" +
                                            "</div>" +

                                            "<div id='commentDelnModi'>" +
                                            "<div class='' style='margin-right: 5px'>" +
                                            "<a class='bi bi-pencil-square' type='button' style='color: #AAAAAA;' onClick='method()'></a>" +
                                            "</div>" +
                                            "<div class=''>" +
                                            "<a class='bi bi-trash3' type='button' style='color: #AAAAAA;' onclick='deleteCalComment(" + comment.calCommentId + ","+ comment.calComProjectId + ","+ comment.calComCalId +")'></a>" +
                                            "</div>" +
                                            "</div>" +


                                            "</div>" +

                                            "<div style='padding-top: 8px; font-size: 15px;'>" + comment.calComContent + "</div>" +
                                            "</div>" +
                                            "</div>" +
                                            "<hr style='color: rgb(126,125,125);'>" +
                                            "</li>");
                                    } else {
                                        $(ul).append(
                                            "<li id='" + comment.calCommentId + "'>" +
                                            "<div style='display: flex;' class='m-3'>" +
                                            "<div class='col-1'>" +
                                            "<span class='thumbnail size40 radius16' style='background-image: url(/img/penguin.jpg)'>" +
                                            "</span></div>" +
                                            "<div class='col-11'>" +
                                            "<div style='display: flex; justify-content: space-between'>" +

                                            "<div style='display: flex; flex-direction: row'>" +
                                            "<div style='margin-right: 10px;'>" +
                                            "<strong>" + comment.calComUserId + "</strong>" +
                                            "</div>" +
                                            "<div class='' style='font-size: 14px; padding-top: 3px; color: #AAAAAA;'>"+ comment.calComRegisterDateStr +"</div>" +
                                            "</div>" +

                                            "</div>" +

                                            "<div style='padding-top: 8px; font-size: 15px;'>" + comment.calComContent + "</div>" +
                                            "</div>" +
                                            "</div>" +
                                            "<hr style='color: rgb(126,125,125);'>" +
                                            "</li>");
                                    }
                                });

                                $($("#comment_list_div")).append(ul);


                                // console.log($("#comment_list_div"));
                            }


                        })


                        $('.js-show-schedule').addClass('show-header-cart');
                    },


                });
                calendarObj = calendar;
                calendar.render();

            });

            request.fail(function (jqXHR, textStatus) {
                //alert("Request failed : " + textStatus);
            });


        });

    }); /////////////////////////////// E N D ///////////////////////////////


    function closeModal() {
        $('#addScheduleModal').hide();
        $('#calendarForm')[0].reset();
        // $(".btn-close").click();
        // document.getElementById("mapImage").remove();
    }

    var fpStart = flatpickr(".startCalDate", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        time_24hr: true,
    });
    var fpEnd = flatpickr(".endCalDate", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        time_24hr: true,
    });

    function setDateTime(arg) {//일정 드래그 후, start end에 값 세팅하는 메서드
        var end = new Date(new Date(arg.endStr).getTime() - 86400000);
        var endDate = dateFormat(end).toString();

        var start = new Date(arg.startStr);
        var startDate = dateFormat(start).toString();
        fpStart.setDate(startDate);
        fpEnd.setDate(endDate);
    }

    function dateFormat(date) {//yyyy-mm-dd 00:00(현재시간) 형식으로 반환하는 메서드
        let month = date.getMonth() + 1;
        let day = date.getDate();

        month = month >= 10 ? month : '0' + month;
        day = day >= 10 ? day : '0' + day;

        var today = new Date();
        var hours = ('0' + today.getHours()).slice(-2);
        var minutes = ('0' + today.getMinutes()).slice(-2);

        return date.getFullYear() + '-' + month + '-' + day + ' ' + hours + ':' + minutes;
    }

    // 사이드 스케줄
    function closeTab() {
        $('.js-show-schedule').removeClass('show-header-cart');
    }


    // Next버튼을 누르면 달력 첫 번째, 마지막 날짜
    $(document).on("click", "#calendar .fc-prev-button", function () {
        console.log("pressed prev button");
        var calObj = calendarObj;
        console.log(calObj.view.activeStart);
        console.log(calObj.view.activeEnd);
    });

    // Prev버튼을 누르면 달력 첫 번째, 마지막 날짜
    $(document).on("click", "#calendar .fc-next-button", function () {
        console.log("pressed next button");
        var calObj = calendarObj;
        console.log(calObj.view.activeStart);
        console.log(calObj.view.activeEnd);
    });


    $(function () {
        $('#submitCalSchedule').on("click", function () {
            // var form1 = $("#frm").serialize();

            // var form1 = $("#calendarForm").serializeObject();
            var form1 = $("#calendarForm").serializeArray();
            console.log("여러분 : " + JSON.stringify(form1));

            console.log("폼입니다 : " + form1);
            // console.log("폼입니다 : " + form1.scheduleTitle);
            // console.log("폼입니다 : " + form1.startDate);
            // console.log("폼입니다 : " + form1.endDate);
            //
            // console.log("폼입니다 : " + form1.writeScheduleContent);
            // console.log("폼입니다 : " + form1.addressInputId);
            // var imageUrl = $('#mapImage').attr('src');
            // form1.mapImage = imageUrl;


            // dataType: 'json',
            $.ajax({
                type: "post",
                url: "/receive",
                data: form1,
                success: function (data) {
                    location.reload();
                },
                error: function (request, status, error) {
                    console.log("통신 실패");
                    console.log("code:" + request.status + "\n" + "message : " + request.responseText + "\n" + "error : " + error);

                }
            });
        });
    });


    jQuery.fn.serializeObject = function () {//form.serialize -> json형식으로 변환해주는 메서드
        var obj = null;
        try {
            if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
                var arr = this.serializeArray();
                if (arr) {
                    obj = {};
                    jQuery.each(arr, function () {
                        obj[this.name] = this.value;
                    });
                }
            }
        } catch (e) {
            alert(e.message);
        }
        return obj;
    };
</script>


<!--            google map api          -->
<script>
    $('#addressInputId').on("input", function () {
        var val = $('#addressInputId').val().trim();
        console.log("값 : " + val.trim());

        if (val == "") {
            console.log("Empty String");
            // document.getElementById("mapImage").style.visibility='hidden';
            document.getElementById("mapImage").remove();
        } else {
            getPlace();
        }



    });
    window.addEventListener('load', getPlace);

    function getPlace() {
        console.log("getPlace method ")
        const input = document.getElementById("addressInputId");
        const options = {
            //add options here if you want more customizations
        };
        const autocomplete = new google.maps.places.Autocomplete(input, options);

    }

    function codeAddress() {
        var imgTag = document.createElement('img');
        imgTag.id = "mapImage";
        imgTag.name = "mapImage"
        imgTag.src = "";
        imgTag.alt = "static img";
        imgTag.style = "visibility: hidden";

        document.getElementById("imgDiv").append(imgTag);

        var geocoder;
        var map;
        geocoder = new google.maps.Geocoder();
        var address = document.getElementById('addressInputId').value;
        console.log("주소 : " + address);
        geocoder.geocode({'address': address}, function (results, status) {


            if (status == 'OK') {
                console.log('this is OK');
                // var tmp = (results[0].geometry.location).toString();

                console.log("위도 : " + results[0].geometry.location.lat());
                console.log("경도 : " + results[0].geometry.location.lng());

                const apiKey = 'AIzaSyABN0ndYhxNu4zHlvEfKi_r42aSUMeVUaI';

                const latitude = results[0].geometry.location.lat()
                const longitude = results[0].geometry.location.lng()

                // Set the map center and other parameters
                const mapCenter = `center=${latitude},${longitude}`;
                const mapZoom = 'zoom=14'; // Optional: Specify the zoom level

                const mapMarkers = `markers=color:red%7Clabel:%7C${latitude}, ${longitude}`;

                const imageUrl = `https://maps.googleapis.com/maps/api/staticmap?${mapCenter}&${mapZoom}&size=646x220&${mapMarkers}&key=${apiKey}`;

                // Set the image source to the constructed URL
                const mapImage = document.getElementById('mapImage');
                mapImage.src = imageUrl;
                document.getElementById("mapImage").style.visibility = 'visible';

                var ads = addressLogic(latitude, longitude);
                console.log(addressLogic(latitude, longitude))
                console.log("ads : " + ads);


            } else {
                console.log("this is an !ERROR!" + status);
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }


    function addressLogic(latitude, longitude) {//return Address from latitude and longitude method
        const geocoder = new google.maps.Geocoder();
        const latlng = {
            lat: parseFloat(latitude),
            lng: parseFloat(longitude),
        };

        var address;

        geocoder
            .geocode({location: latlng})
            .then((response) => {
                console.log("헬로우 : " + response.results[0].formatted_address);
                tmp = response.results[0].formatted_address
                console.log("tmp : " + tmp)

                if (response.results[0]) {
                    address = response.results[0].formatted_address;
                    getAddress(address);
                } else {
                    return "ERROR";
                }
            })
    }

    function getAddress(address) { // (4) should log the address
        console.log("Finally : " + address);
        document.getElementById("addressInputId").value = address
    }
</script>


<!--            댓글          -->
<script th:inline="javascript">

    function sendComment() {
        const commentInput = document.getElementById('post_comment_input');
        const projectIdId = document.getElementById('projectIdId').value;
        const loginUserId = document.getElementById("logInnn").value;
        const logInUsername = document.getElementById("logInnname").value;

        let comData = {
            "comment": commentInput.value,
            "projectIdId": projectIdId,
            "calId": Obj.id,
            "loginUserId" : loginUserId
        };


        $.ajax({
            type: "post",
            url: "/insertCalComment",
            data: comData,
            success: function (data) {
                // 댓글 입력시 요소 생성
                console.log("받은것은 : "+ data.commentId);
                console.log("받은것은 : "+ data.calComProjectId);
                console.log("받은것은 : "+ data.calComCalId);
                console.log("받은것은 : "+ data.commentId);
                console.log("받은것은 : " + data.registerDate);
                const addNewComment = () => {
                    // const newCommentLocation = document.getElementsByClassName('comment_list_ul')[0];
                    const newCommentLocation = document.getElementById("comment_list_ul");
                    const newComment = document.createElement('li');
                    newComment.id = data.commentId;

                    newComment.innerHTML = `
                        <div style="display: flex;" class="m-3">
                        <div class="col-1">
                            <span class="thumbnail size40 radius16" style="background-image: url(/img/penguin.jpg)"></span>
                        </div>

                        <div class="col-11">
                            <div style="display: flex; justify-content: space-between">

                                <div style="display: flex; flex-direction: row">
                                    <div class="" style="margin-right: 10px;"><strong>${data.username}</strong></div>
                                    <div class="" style="font-size: 14px; padding-top: 3px; color: #AAAAAA;">${data.registerDateStr}
                                    </div>
                                </div>

                                <div style="display: flex;flex-direction: row">


                                    <div class="" style="margin-right: 5px"><!--수정-->
                                        <a class="bi bi-pencil-square" type="button" style="color: #AAAAAA;" href="#"
                                           onclick="methodd()"></a>
                                    </div>
                                    <div class=""><!--삭제-->
                                        <a class="bi bi-trash3" type="button" style="color: #AAAAAA;" href="#"
                                           onclick="deleteCalComment(${data.commentId}, ${data.projectIdId}, ${data.calendarId})"></a>
                                    </div>
                                </div>
                            </div>

                            <div style="padding-top: 8px; font-size: 15px;">
                                 ${commentInput.value}
                            </div>

                        </div>
                    </div>
                    <hr style="color: rgb(126,125,125);">

    `;

                    // newComment.innerHTML += `<!--<h5>이런식으로 추가가 가능합니다.</h5>-->`;


                    newCommentLocation.appendChild(newComment);
                    commentInput.value = '';
                }


                if (commentInput.value) {
                    addNewComment();
                } else {
                    alert('댓글이 입력되지 않았습니다 😳');
                }


            },
            error: function (request, status, error) {
                console.log("통신 실패");
                console.log("code:" + request.status + "\n" + "message : " + request.responseText + "\n" + "error : " + error);
            }
        });


    }


    function method() {
        alert("Hello World");
    }

    function deleteCalComment(commentId, projectId, calendarId ) {
        console.log("댓글 번호 : " + commentId);
        console.log("플젝 번호 : " + projectId)
        console.log("일정 번호 : " + calendarId)
        let data = {"commentId": commentId,
                    "projectIdId" : projectId,
                    "calendarId" : calendarId
        };
        $.ajax({
            type: "post",
            url: "/deleteCalComment",
            data: data,
            success: function (data) {
                document.getElementById(commentId).remove();
            },
            error: function (request, status, error) {
                console.log("통신 실패");
                console.log("code:" + request.status + "\n" + "message : " + request.responseText + "\n" + "error : " + error);

            }
        });
    }


</script>



</body>
</html>
