<!DOCTYPE html>
<div th:fragment="ganttContent(project, taskList)">
    <div class="container-fluid">
        <div id="gantt-container" style="width: 1640px; height: 100vh"></div>
    </div>
    <script th:inline="javascript">

        let taskArray = [];

        let tasks = [[${taskList}]]

        for (let i = 0; i < tasks.length; i++) {
            let jsonObject ={}
            let task = tasks[i]
            jsonObject.id = task.taskId;
            jsonObject.text = task.taskTitle;
            let task_startDate = new Date(task.startDate);
            let startDate_parse = task_startDate.getFullYear() + "-" + (task_startDate.getMonth() + 1).toString().padStart(2, "0") + "-" + task_startDate.getDate().toString().padStart(2, "0");
            let task_endDate = new Date(task.closingDate);

            let diff = Math.abs(task_endDate.getTime() - task_startDate.getTime());
            diff = Math.ceil(diff / (1000 * 60 * 60 * 24));

            jsonObject.start_date = startDate_parse;
            jsonObject.duration = diff;
            taskArray.push(jsonObject);
        }

        gantt.init('gantt-container')
        let today = new Date()
        gantt.parse({
            data: taskArray
        })
    </script>
</div>