<!DOCTYPE html>
<div th:fragment="ganttContent(project, taskList)">
    <div class="container-fluid">
        <div id="gantt-container" style="width: 1640px; height: 100vh"></div>
    </div>
    <script th:inline="javascript">

        let taskArray = [];

        let tasks = [[${taskList}]]

        for (let i = 0; i < tasks.length; i++) {
            let jsonObject ={}
            let task = tasks[i]
            jsonObject.id = task.taskId;
            jsonObject.text = task.taskTitle;
            let task_startDate = new Date(task.startDate);
            let task_endDate = new Date(task.closingDate);

            let diff = Math.abs(task_endDate.getTime() - task_startDate.getTime());
            diff = Math.ceil(diff / (1000 * 60 * 60 * 24));

            jsonObject.start_date = task_startDate;
            jsonObject.duration = diff;
            jsonObject.progress = task.progress / 100

            jsonObject.color = colorChange(task.process)

            taskArray.push(jsonObject);
        }

        gantt.init('gantt-container')
        let today = new Date()
        gantt.parse({
            data: taskArray
        })

        function colorChange(process) {
            if (process === '요청') {
                return 'rgba(0,178,255)';
            } else if (process === '진행') {
                return 'rgba(0,176,28)';
            } else if (process === '피드백') {
                return 'rgba(253,121,0)';
            } else if (process === '완료') {
                return 'rgba(64,42,157)';
            } else if (process === '보류') {
                return 'rgba(119,119,119)';
            }
        }

    </script>
</div>