<!DOCTYPE html>
<div th:fragment="ganttContent(project, taskList)">
    <div class="container-fluid">
        <div id="gantt-container" style="width: 1640px; height: 100vh"></div>
    </div>
    <script th:inline="javascript">

        let taskArray = [];

        let tasks = [[${taskList}]]

        for (let i = 0; i < tasks.length; i++) {
            let jsonObject ={}
            let task = tasks[i]
            jsonObject.id = task.taskId;
            jsonObject.text = task.taskTitle;
            let task_startDate = new Date(task.startDate);
            let task_endDate = new Date(task.closingDate);

            let diff = Math.abs(task_endDate.getTime() - task_startDate.getTime());
            diff = Math.ceil(diff / (1000 * 60 * 60 * 24));

            jsonObject.start_date = task_startDate;
            jsonObject.duration = diff;
            jsonObject.progress = task.progress / 100

            jsonObject.color = colorChange(task.process)

            taskArray.push(jsonObject);
        }
        gantt.attachEvent("onAfterTaskAdd", function(id, item) {

            // 작업이 생성된 후에 실행할 코드
            let description = item.text; // 작업 설명 가져오기
            let startDate = item.start_date; // 시작 날짜 가져오기
            let endDate = item.start_date; // 마감 날짜 가져오기

            // 작업 데이터 전송
            let data = {
                taskTitle: description,
                startDate: new Date(startDate),
                process : '요청',
                projectId : [[${project.projectId}]],
                closingDate : new Date(endDate),
                crtDate : new Date(),
            };

            console.log(data)
            $.ajax({
                url: '/task/taskPageWrite',
                data: data,
                type: 'post',
                success: ((message) => {
                    if (message === "success") {
                        location.reload()
                    } else {
                        Swal.fire({
                            "icon": "warning",
                            "title": "업무 제목을 입력하세요"
                        })
                    }
                })
            })
        });


        function colorChange(process) {
            if (process === '요청') {
                return 'rgba(0,178,255)';
            } else if (process === '진행') {
                return 'rgba(0,176,28)';
            } else if (process === '피드백') {
                return 'rgba(253,121,0)';
            } else if (process === '완료') {
                return 'rgba(64,42,157)';
            } else if (process === '보류') {
                return 'rgba(119,119,119)';
            }
        }

        gantt.attachEvent("onAfterTaskDelete", function(taskId, task){
            // 작업이 삭제된 후에 실행할 코드
            let deletedTaskId = taskId; // 삭제된 작업의 ID 가져오기

            let data = {
                taskId: deletedTaskId,
            };

            $.ajax({
                url: '/task/deleteTask',
                type: 'post',
                data: data,
                success: () => {
                    location.reload()
                }
            })

        });




        gantt.init('gantt-container')
        let today = new Date()
        gantt.parse({
            data: taskArray
        })

    </script>
</div>