<!DOCTYPE html>

<html
        xmlns:th="http://www.thymeleaf.org" lang="ko"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8">

    <title>YOU#</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- 내 css  -->
    <link rel="stylesheet" href="/css/memberManagement.css">
</head>
<body>
<div layout:fragment="content">

    <div class="container" style="content-align: center ; ">
        <h1 class="projectTitle mt-5"> 프로젝트 참여 </h1>
        <div id="margin" style="margin-top: 75px">

            <h1 class="title"> 프로젝트 검색 </h1>


            <div class="row" style=" justify-content: space-evenly;margin-top: 75px; margin-bottom: 75px;">
                <div class="search col-md-10 ">
                    <input type="text" placeholder="검색어 입력" id="searchProject" onclick="setDisabled(this)"
                           th:onkeyup="|enter(this)|"/>
                    <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"
                         th:onclick="|searchProject()|">


                </div>


            </div>


        </div>


        <div id="searchResult" style="display: none; margin-bottom: 75px">
            <h3 class="projectTitle"> 검색 결과 </h3>
            <div class="searchBack">
                <div class="row mt-5 mb-5" style="justify-content: center; ">
                    <div class="col-md-6" id="searchDivMain">

                    </div>
                </div>

                <div class="mb-5">
                    <button class="btn-orange">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                             class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                        </svg>
                    </button>
                    <button class="btn-orange">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                             class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                    </button>
                </div>

            </div>

        </div>

        <h1 class="title"> 초대코드로 참여 </h1>


        <div class="row" style=" justify-content: space-evenly;margin-top: 75px; margin-bottom: 75px;">
            <div class="search col-md-10 ">
                <input type="text" placeholder="초대코드 입력" id="searchInviteCode" onclick="setDisabled(this)"
                       th:onkeyup="|enter(this)|"/>
                <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"
                     th:onclick="|searchInviteCode()|">


            </div>


        </div>
        <div class="col" style="margin-top: 75px; margin-bottom: 75px;justify-content: center;">

            <div id="searchCodeResult" style="display: none; margin-bottom: 75px">
                <h3 class="projectTitle"> 검색 결과 </h3>
                <div class="searchBack">
                    <div class="row mt-5 mb-5" style="justify-content: center; ">
                        <div class="col-md-6" id="searchCodeDivMain">

                        </div>
                    </div>


                </div>

            </div>

        </div>
        <h1 class="title"> 승인 대기중인 프로젝트 </h1>

        <h1 th:fragment="${waitList}"></h1>
        <div class="row" style="margin-top: 75px; margin-bottom: 75px;justify-content: center; "  th:if="${ #lists.isEmpty(waitList)} ">



            <div class="card" style="min-height: 300px;padding: 150px; text-align: center;">
                <h1 class="projectTitle">승인 대기중인 프로젝트가 없습니다</h1>


            </div>



        </div>
        <div class="row" style="margin-top: 75px; margin-bottom: 75px;" >
            <div class="col-md-3"  th:each="w : ${waitList}">
                <div class="project" style="padding: 10px 20px 10px 20px">


                    <div class="row">

                        <div style="float: left;">
                            <div class="subTitle" th:text="${w.projectName}"></div>
                            <div class="explanationText" th:text="${w.explanation}"></div>
                        </div>

                    </div>


                </div>

            </div>
        </div>


    </div>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/


        function setDisabled(value) {

            if (value.id == 'searchProject') {
                document.getElementById("searchInviteCode").disabled = true;
            } else {
                document.getElementById("searchProject").disabled = true;
            }


        }


        function enter(value) {

            if (window.event.keyCode == 13) {


                if (value.id == 'searchProject') {
                    searchProject();
                } else {
                    searchInviteCode();
                }

            }
        }

        function searchProject() {


            const keyword = document.getElementById('searchProject').value;

            console.log("searchProject keyword : " + keyword);

            $('#searchDivMain').empty()

            if (keyword != "") {
                const data = {
                    "keyword": keyword
                }


                $.ajax({
                    type: 'GET',
                    url: "/project/search",
                    data: data,
                    success: function (result) {


                        if (result.length >= 1) {
                            const searchDiv = document.getElementById("searchResult");
                            searchDiv.style.display = "";


                            result.forEach(function (item) {
                                $(document).ready(function () {


                                    $('#searchDivMain').append(
                                        " <div class='card mb-3' style='max-width: 540px;'>" +
                                        "<div class = 'row g-0'>" +
                                        "<div class='col-md-4'>" +
                                        " <img src='" + item.username + "' class='member' alt='...'>" +
                                        "</div>" +
                                        "<div class='col-md-8'>" +
                                        "<div class='card-body' style='text-align: left'>" +
                                        "<h5 class='card-title'>" + item.projectName + "</h5>" +
                                        "<p class='card-text'>" + item.explanation + "</p>" +
                                        "<div style='text-align: end'>" +
                                        "<button class='btn-blue' style='width: 50px;' id='enterBtn' name='" + item.projectId + "' onclick='enterProject(1)'> 참가 </button>" +

                                        "</div>" +

                                        "</div>" +
                                        "</div>" +
                                        "</div>" +
                                        "</div>"
                                    );

                                });

                            })

                        } else {
                            const searchDiv = document.getElementById("searchResult");
                            searchDiv.style.display = "none";

                            Swal.fire({
                                title: "검색 결과가 없습니다.",
                                icon: "question"
                            });
                        }

                    }
                })
            } else {
                const searchDiv = document.getElementById("searchResult");
                searchDiv.style.display = "none";
                Swal.fire({
                    title: "검색어를 입력해 주세요",
                    icon: "warning"
                });

            }
            document.getElementById("searchInviteCode").disabled = false;

        }

        function searchInviteCode() {


            const keyword = document.getElementById('searchInviteCode').value;

            console.log("code keyword : " + keyword);
            $('#searchCodeDivMain').empty()

            if (keyword != "") {
                const data = {
                    "keyword": keyword
                }


                $.ajax({
                    type: 'GET',
                    url: "/project/inviteCode",
                    data: data,
                    success: function (result) {

                        console.log(result)
                        if (result != null) {
                            const searchDiv = document.getElementById("searchCodeResult");
                            searchDiv.style.display = "";

                            if (result.length >= 1) {

                                $('#searchCodeDivMain').append(
                                    " <div class='card mb-3' style='max-width: 540px;'>" +
                                    "<div class = 'row g-0'>" +
                                    "<div class='col-md-4'>" +
                                    " <img src='" + result.username + "' class='member' alt='...'>" +
                                    "</div>" +
                                    "<div class='col-md-8'>" +
                                    "<div class='card-body' style='text-align: left'>" +
                                    "<h5 class='card-title'>" + result.projectName + "</h5>" +
                                    "<p class='card-text'>" + result.explanation + "</p>" +
                                    "<div style='text-align: end'>" +
                                    "<button class='btn-blue' style='width: 50px;' id='enterBtnCode' name='" + result.projectId + "' onclick='enterProject(2)'> 참가 </button>" +

                                    "</div>" +

                                    "</div>" +
                                    "</div>" +
                                    "</div>" +
                                    "</div>"
                                );


                            } else {
                                const searchDiv = document.getElementById("searchCodeResult");
                                searchDiv.style.display = "none";

                                Swal.fire({
                                    title: "검색 결과가 없습니다.",
                                    icon: "question"
                                });
                            }


                        }
                    }

                });
            } else {
                const searchDiv = document.getElementById("searchCodeResult");
                searchDiv.style.display = "none";
                Swal.fire({
                    title: "검색어를 입력해 주세요",
                    icon: "warning"
                });

            }
            document.getElementById("searchProject").disabled = false;

        }


        function enterProject(option) {
            var projectId;

            if (option == 1) {
                projectId = document.getElementById("enterBtn").name;


            } else if (option == 2) {
                projectId = document.getElementById("enterBtnCode").name;
            }

            const data = {
                "projectId": projectId
            }


            $.ajax({
                type: 'GET',
                url: "/member/insert/" + projectId,
                data: data,
                success: function (result) {
                    if (option == 1) {
                        const searchDiv = document.getElementById("searchResult");
                        searchDiv.style.display = "none";

                    } else if (option == 2) {
                        const searchDiv = document.getElementById("searchCodeResult");
                        searchDiv.style.display = "none";
                    }


                    Swal.fire({
                        title: "참여 요청 완료되었습니다",
                        icon: "success"
                    })


                }
            });


        }


        /*]]>*/

    </script>


</div>


</body>

</html>
