<!DOCTYPE html>

<html
        xmlns:th="http://www.thymeleaf.org" lang="ko"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8">

    <title>YOU#</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- 내 css  -->
    <link rel="stylesheet" href="/css/memberManagement.css">
</head>
<body>
<div layout:fragment="content">

    <div class="container" style="content-align: center ;padding: 50px;">
        <h1 class="projectTitle"> 프로젝트 검색 </h1>


        <div class="row" style="justify-content: space-evenly;margin-top: 100px;height: 100px">
            <div class="search col-md-10">
                <input type="text" placeholder="검색어 입력" id="searchProject" th:onkeyup="|searchProject()|" />
                <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" th:onclick="|searchProject()|" >


            </div>



        </div>


        <div id="searchResult" style="display: none">
            <h5 class="title"> 검색 결과 </h5>
            <div class="searchBack">
                <div class="row mt-5 mb-5" style="justify-content: center; ">
                    <div class="col-md-6" id="searchDivMain">

                    </div>
                </div>

                <div class="mb-5">
                    <button class="btn-orange">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                             class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                        </svg>
                    </button>
                    <button class="btn-orange">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                             class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                    </button>
                </div>

            </div>

        </div>


    </div>

    <script type="text/javascript">
        /*<![CDATA[*/

        function searchProject(){



            const keyword = document.getElementById('searchProject').value;

            if(keyword != ""){
                const data = {
                    "keyword": keyword
                }
                $('#searchDivMain').empty();


                $.ajax({
                    type: 'GET',
                    url : "/project/search",
                    data : data,
                    success : function(result){


                        console.log("ssss");



                        if(result.length>=1){
                            const searchDiv = document.getElementById("searchResult");
                            searchDiv.style.display = "";


                            result.forEach(function(item) {
                                $(document).ready(function () {
                                    console.log("item", item);



                                    $('#searchDivMain').append(
                                        " <div class='card mb-3' style='max-width: 540px;'>" +
                                        "<div class = 'row g-0'>" +
                                        "<div class='col-md-4'>" +
                                        " <img src='" +item.username+"' class='member' alt='...'>"+
                                        "</div>"+
                                        "<div class='col-md-8'>"+
                                        "<div class='card-body' style='text-align: left'>"+
                                        "<h5 class='card-title'>"+item.projectName+"</h5>"+
                                        "<p class='card-text'>"+item.explanation+"</p>"+
                                        "<div style='text-align: end'>"+
                                        "<button class='btn-blue' style='width: 50px;'> 참가 </button>"+

                                        "</div>"+

                                        "</div>"+
                                        "</div>"+
                                        "</div>"+
                                        "</div>"
                                    );
                                });

                            })

                        }else{
                            const searchDiv = document.getElementById("searchResult");
                            searchDiv.style.display = "none";

                            Swal.fire({
                                title: "검색 결과가 없습니다.",
                                icon: "question"
                            });
                        }
                    }
                })
            }else{
                Swal.fire({
                    title: "검색어를 입력해 주세요",
                    icon: "warning"
                });
            }



        }
        /*]]>*/

    </script>


</div>


</body>

</html>
