<!DOCTYPE html>

<html
        xmlns:th="http://www.thymeleaf.org" lang="ko"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8">

    <title>YOU#</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- Slick 불러오기 -->
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />


    <script th:src="@{/js/project/joinProject.js}" defer></script>
    <!-- 내 css  -->
    <link rel="stylesheet" href="/css/injoyMain.css">
</head>
<body>
<div layout:fragment="content">

    <div class="container" style="content-align: center ; ">
        <h1 class="projectTitle mt-5"> 프로젝트 참여 </h1>
        <div id="margin" style="margin-top: 75px">

            <h1 class="title"> 프로젝트 검색 </h1>


            <div class="row" style=" justify-content: space-evenly;margin-top: 75px; margin-bottom: 75px;">
                <div class="search col-md-10 ">
                    <input type="text" placeholder="검색어 입력" id="searchProject" onclick="setDisabled(this)"
                           th:onkeyup="|enter(this)|"/>
                    <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"
                         th:onclick="|searchProject()|">


                </div>


            </div>


        </div>


        <div id="searchResult" style="display: none; margin-bottom: 75px">
            <h3 class="projectTitle"> 검색 결과 </h3>
            <div class="scrollDiv">
                <div class="searchBack">
                    <div class="row mt-5 mb-5" style="justify-content: center; ">
                        <div class="col-md-6" id="searchDivMain">

                        </div>
                    </div>


                </div>
            </div>


        </div>

        <h1 class="title"> 초대코드로 참여 </h1>


        <div class="row" style=" justify-content: space-evenly;margin-top: 75px; margin-bottom: 75px;">
            <div class="search col-md-10 ">
                <input type="text" placeholder="초대코드 입력" id="searchInviteCode" onclick="setDisabled(this)"
                       th:onkeyup="|enter(this)|"/>
                <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"
                     th:onclick="|searchInviteCode()|">


            </div>


        </div>
        <div class="col" style="margin-top: 75px; margin-bottom: 75px;justify-content: center;">

            <div id="searchCodeResult" style="display: none; margin-bottom: 75px">
                <h3 class="projectTitle"> 검색 결과 </h3>
                <div class="searchBack">
                    <div class="row mt-5 mb-5" style="justify-content: center; ">
                        <div class="col-md-6" id="searchCodeDivMain">

                        </div>
                    </div>


                </div>

            </div>

        </div>
        <h1 class="title"> 승인 대기중인 프로젝트 </h1>

        <div class="row" id="noneWait" style="margin-top: 75px; margin-bottom: 75px;justify-content: center; ">





        </div>
        <div class="row"  id="projectContainer" style="margin-top: 75px; margin-bottom: 75px;" >
            <div class="col-md-3" >


            </div>
        </div>


    </div>




</div>


</body>

</html>
