<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org" lang="ko" th:fragment="kanbanContent(project, taskList)">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <title>INJOY</title>
    <link th:href="@{/css/project/kanban.css}" rel="stylesheet"/>
    <script th:src="@{/js/project/kanban.js}" defer></script>
</head>
<body>
<div>
    <div class="container-fluid" style="width: 95%; margin-top:3rem">
        <div class="row">
            <div class="kanbanBoard col" style="background-color: rgba(0,178,255,0.5)">
                <h5 class="taskProcess">요청</h5>
                <div class="control"></div>
                <div class="control" th:each="task : ${taskList}" th:if="${task.process eq '요청'}">
                    <div class="draggable" draggable="true">
                        <input class="kanabanTaskId" type="hidden" th:value="${task.taskId}"/>
                        <div class="el" th:text="${task.taskTitle}"></div>
                    </div>
                </div>
                <button class="kanbanBtn" data-bs-toggle="modal" data-bs-target="#taskModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                    </svg>
                </button>
            </div>
            <div class="kanbanBoard col" style="background-color: rgba(0,176,28,0.5)">
                <h5 class="taskProcess">진행</h5>
                <div class="control"></div>
                <div class="control" th:each="task : ${taskList}" th:if="${task.process eq '진행'}">
                    <div class="draggable" draggable="true">
                        <input class="kanabanTaskId" type="hidden" th:value="${task.taskId}"/>
                        <div class="el" th:text="${task.taskTitle}"></div>
                    </div>
                </div>
                <button class="kanbanBtn" data-bs-toggle="modal" data-bs-target="#taskModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                    </svg>
                </button>
            </div>
            <div class="kanbanBoard col" style="background-color: rgba(253,121,0,0.5)">
                <h5 class="taskProcess">피드백</h5>
                <div class="control"></div>
                <div class="control" th:each="task : ${taskList}" th:if="${task.process eq '피드백'}">
                    <div class="draggable" draggable="true">
                        <input class="kanabanTaskId" type="hidden" th:value="${task.taskId}"/>
                        <div class="el" th:text="${task.taskTitle}"></div>
                    </div>
                </div>
                <button class="kanbanBtn" data-bs-toggle="modal" data-bs-target="#taskModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                    </svg>
                </button>
            </div>
            <div class="kanbanBoard col" style="background-color: rgba(64,42,157,0.5)">
                <h5 class="taskProcess">완료</h5>
                <div class="control"></div>
                <div class="control" th:each="task : ${taskList}" th:if="${task.process eq '완료'}">
                    <div class="draggable" draggable="true">
                        <input class="kanabanTaskId" type="hidden" th:value="${task.taskId}"/>
                        <div class="el" th:text="${task.taskTitle}"></div>
                    </div>
                </div>
                <button class="kanbanBtn" data-bs-toggle="modal" data-bs-target="#taskModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                    </svg>
                </button>
            </div>

            <div class="kanbanBoard col" style="background-color: rgba(119,119,119,0.50)">
                <h5 class="taskProcess">보류</h5>
                <div class="control"></div>
                <div class="control" th:each="task : ${taskList}" th:if="${task.process eq '보류'}">
                    <div class="draggable" draggable="true">
                        <input class="kanabanTaskId" type="hidden" th:value="${task.taskId}"/>
                        <div class="el" th:text="${task.taskTitle}"></div>
                    </div>
                </div>
                <button class="kanbanBtn" data-bs-toggle="modal" data-bs-target="#taskModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="modal" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content p-3">
                <div class="modal-header">
                    <span class="modal-title mr-2" id="taskModalLabel" style="font-weight: bold">
                                업무 작성 |
                    </span>
                    <span th:text="${project.projectName}"></span>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-start">
                    <div class="taskAddTitle">
                        <input id="kanbanAddTitle" placeholder="제목을 입력하세요"/>
                        <label for="kanbanAddTitle"></label>
                    </div>
                    <div class="taskAddOption">
                        <ul class="option-group">
                            <li class="process-layer">
                                <div class="create-content content-title">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black"
                                         class="bi bi-clock-history" viewBox="0 0 16 16">
                                        <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                                        <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                                        <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                                    </svg>
                                </div>
                                <div class="create-content kanbanProcessBtn">
                                    <button class="btn taskProcessBtn requestBtn">요청</button>
                                    <button class="btn taskProcessBtn progressBtn">진행</button>
                                    <button class="btn taskProcessBtn feedBackBtn">피드백</button>
                                    <button class="btn taskProcessBtn finishBtn">완료</button>
                                    <button class="btn taskProcessBtn holdBtn">보류</button>
                                </div>
                            </li>
<!--                            <li class="manager-layer">-->
<!--                                <div class="managerAdd create-content content-title ">-->
<!--                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black"-->
<!--                                         class="bi bi-person" viewBox="0 0 16 16">-->
<!--                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>-->
<!--                                    </svg>-->
<!--                                </div>-->
<!--                                <div class="create-content">-->
<!--                                    <div class="user-wrap">-->
<!--                                        <span id="kanbanManagerId">1</span>-->
<!--                                    </div>-->
<!--                                    <button class="add-managerButton" style="text-align: start; padding-left: 5px">담당자-->
<!--                                        추가-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </li>-->
                            <li class="startDate-layer" style="display: none">
                                <div class="create-content content-title">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black"
                                         class="bi bi-calendar4" viewBox="0 0 16 16">
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"/>
                                    </svg>
                                </div>
                                <div class="create-content">
                                    <div class="post-startDate">
                                        <div class="startDate-group">
                                            <input class="kanban-addStartDate" data-placeholder="시작일 추가"
                                                   required
                                                   aria-required="true" type="date" style="border: 0 solid black"/>
                                            <div class="start-date-exist" style="display: none">
                                                <span class="date-value startDate-value">2023-05-09 (화) 부터</span>
                                                <button class="removeBtn-startDate"
                                                        style="border: none; background-color: transparent; padding: 0">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="25"
                                                         fill="currentColor" class="bi bi-x" viewBox="0 0 25 25">
                                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="endDate-layer" style="display: none">
                                <div class="create-content content-title">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black"
                                         class="bi bi-calendar4" viewBox="0 0 16 16">
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"/>
                                    </svg>
                                </div>
                                <div class="create-content">
                                    <div class="post-endDate">
                                        <div class="endDate-group">
                                            <input class="kanban-addEndDate" data-placeholder="마감일 추가"
                                                   required
                                                   aria-required="true" type="date" style="border: 0 solid black"/>
                                            <div class="end-date-exist" style="display: none">
                                                <span class="date-value endDate-value">2023-05-09 (화) 까지</span>
                                                <button class="removeBtn-endDate"
                                                        style="border: none; background-color: transparent; padding: 0">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="25"
                                                         fill="currentColor" class="bi bi-x" viewBox="0 0 25 25">
                                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li class="priority-layer" style="display: none">
                                <div class="create-content content-title">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black"
                                         class="bi bi-flag" viewBox="0 0 16 16">
                                        <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"/>
                                    </svg>
                                </div>
                                <div class="create-content">
                                    <button class="addPriority" style="border: none; background-color: transparent;">
                                        우선순위 추가
                                    </button>
                                    <div class="addPriority_ul" id="addPriority_ul" style="display: none">
                                        <ul class="button_priority"
                                            style="position: absolute; transform: none; top: 25px; left: 0; width: 80px; text-align: start">
                                            <li class="mb-1 px-2">
                                                <button class="priorityBtn">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                                         fill="red"
                                                         class="bi bi-exclamation-octagon-fill" viewBox="0 0 16 16">
                                                        <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                    </svg>
                                                    <span class="priorityText">긴급</span>
                                                </button>
                                            </li>
                                            <li class="mb-1  px-2">
                                                <button class="priorityBtn">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                                         fill="orange"
                                                         class="bi bi-arrow-up" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd"
                                                              d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                                                    </svg>
                                                    <span class="priorityText">높음</span>
                                                </button>
                                            </li>
                                            <li class="mb-1  px-2">
                                                <button class="priorityBtn">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                                         fill="green"
                                                         class="bi bi-dash" viewBox="0 0 16 16">
                                                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                                    </svg>
                                                    <span class="priorityText">보통</span>
                                                </button>
                                            </li>
                                            <li class="mb-1  px-2">
                                                <button class="priorityBtn">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                                         fill="dark-violet"
                                                         class="bi bi-arrow-down" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd"
                                                              d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                                                    </svg>
                                                    <span class="priorityText">낮음</span>
                                                </button>
                                            </li>
                                            <li class=" px-2">
                                                <button class="priorityBtn">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                                         fill="gray"
                                                         class="bi bi-x-lg" viewBox="0 0 16 16">
                                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                                    </svg>
                                                    <span class="priorityText">없음</span>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="prioritySpan" style="display: none">
                                        <span class="kanban-priority-value"></span>
                                        <button class="removeBtn-priority"
                                                style="border: none; background-color: transparent; padding: 0">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="25"
                                                 fill="currentColor" class="bi bi-x" viewBox="0 0 25 25">
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li class="progress-layer" style="display: none">
                                <div class="create-content content-title">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black"
                                         class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                                        <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
                                    </svg>
                                </div>
                                <div class="create-content">
                                    <input id="rangeInput" class="kanban-rangeInput" style="" max="100" min="0"
                                           step="10" type="range" th:value="0"/>
                                    <div>
                                        <span class="progress-txt">0%</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <button class="optionAddBtn" type="button" style="border: none; background-color: transparent">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                            항목 추가 입력
                        </button>
                    </div>
                    <hr/>
                    <div class="writeContentDiv">
                        <label>
                            <textarea class="writekanbanContent" placeholder="내용을 입력하세요."></textarea>
                        </label>
                    </div>
                    <div class="postAttached">
                        <div class="attached-image-kanban"></div>
                        <div class="attached-file-kanban"></div>
                    </div>
                </div>
                <div class="modal-footer" style="justify-content: space-between !important;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-paperclip" viewBox="0 0 16 16">
                        <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
                    </svg>
                    <button type="button" class="btn taskAddButton"
                            style="background-color: #001542; color: white" onclick="kanbanAddTask()">등록
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>