<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>INJOY</title>
    <link th:href="@{/css/injoyMain.css}" rel="stylesheet"/>
    <script src="/js/project/mainProject.js" defer></script>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>


</head>
<body layout:fragment="content" >
<th:block th:replace="~{fragment/projectName :: projectNamefragment(${project},${logIn})}"></th:block>
<ul class="nav nav-underline mb-4" id="myTab" role="tablist" style="border-bottom: 1px inset">
    <li class="nav-item">
        <div class="nav-link disabled"></div>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link mainNav" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" role="tab"
           aria-controls="home-tab-pane" aria-selected="true">홈</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link mainNav" id="task-tab" data-bs-toggle="tab" data-bs-target="#task-tab-pane"
           aria-controls="task-tab-pane" aria-selected="false">업무</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link mainNav" id="kanban-tab" data-bs-toggle="tab" data-bs-target="#kanban-tab-pane"
           aria-controls="kanban-tab-pane" aria-selected="false">칸반보드</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link mainNav" id="schedule-tab" data-bs-toggle="tab" data-bs-target="#schedule-tab-pane"
           aria-controls="schedule-tab-pane" aria-selected="false">캘린더</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link mainNav" id="file-tab" data-bs-toggle="tab" data-bs-target="#file-tab-pane"
           aria-controls="file-tab-pane" aria-selected="false">파일</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link mainNav" id="member-tab" data-bs-toggle="tab" data-bs-target="#member-tab-pane"
           aria-controls="member-tab-pane" aria-selected="false" th:text="${logIn.authority.equals('MANAGER') ? '멤버관리': '참여멤버'}">멤버관리</a>
    </li>

</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <div th:replace="~{/project/projectHome :: homeContent(${project},${boardList},${taskList}, ${memberList})}"></div>
    </div>
    <div class="tab-pane" id="task-tab-pane" role="tabpanel" aria-labelledby="task-tab" tabindex="1">
        <div th:insert="~{/project/taskPage :: taskContent(${project}, ${memberList}, ${taskList})}"></div>
    </div>
    <div class="tab-pane" id="kanban-tab-pane" role="tabpanel" aria-labelledby="kanban-tab" tabindex="2">
        <div th:insert="~{/project/kanban :: kanbanContent(${project}, ${taskList})}"></div>
    </div>
    <div class="tab-pane" id="schedule-tab-pane" role="tabpanel" aria-labelledby="schedule-tab" tabindex="3">

    </div>

    <div class="tab-pane" id="file-tab-pane" role="tabpanel" aria-labelledby="file-tab" tabindex="4">
        <div th:insert="~{/project/projectFile :: projectFileContent(${project},${logIn})}" ></div>

    </div>
    <div class="tab-pane" id="member-tab-pane" role="tabpanel" aria-labelledby="member-tab" tabindex="5">
        <div th:insert="~{/project/addMember :: addMemberContent(${project}, ${memberList}, ${waitList},${logIn})}" ></div>

    </div>
</div>
</body>
</html>
