<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org" lang="ko"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>myProject</title>


    <!-- alert 창-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>




    <!-- 내 css  -->


    <script th:src="@{/js/project/myProject.js}" defer></script>


</head>


<body>
<div layout:fragment="content">

    <!-- 초대 확인 Modal -->

    <div class="modal fade" id="inviteModal" tabindex="-1" aria-labelledby="inviteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inviteModalLabel">프로젝트 참여 요청</h5>
                    <button type="button" id="inviteClose" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <div class="row " id="inviteListBody">

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">확인</button>

                </div>
            </div>
        </div>
    </div>
    <button type="button" style="display: none" class="btn btn-primary" id="inviteModalBtn" data-toggle="modal"
            data-target="#inviteModal">
        Launch demo modal
    </button>


    <div class="container" style="align-content: center; padding: 2%">


        <div class="title"> 참여중인 프로젝트 목록</div>
        <div class="row" id="projectListBody">

            <div th:if="${ #lists.isEmpty(projectList)}">
                참여중인 팀이 없습니다
            </div>


            <div class="col-md-3 " id="projectList"  th:each="p : ${projectList}" style="float: left">

                <div class="project" style="padding: 10px 20px 10px 20px">

                    <div class="row" id="starState">

                        <div class="col" style="text-align: left">
                            <button th:id="|star${p.getProjectId()}|" class="btn"
                                    th:style="|${p.getBookMarkId() == 0  ? 'display:unset ;': 'display :none ;'}|"
                                    th:onclick="|bookMark(${p.getProjectId()}, ${p.getUserId()})|">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000"
                                     class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                </svg>
                            </button>
                            <button th:id="|starFill${p.getProjectId()}|" class="btn"
                                    th:style="|${ p.getBookMarkId() == 0 ? 'display : none ;': 'display : unset ;'}|"
                                    th:onclick="|bookMark(${p.getProjectId()}, ${p.getUserId()})|">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFB30D "
                                     class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                            </button>
                        </div>
                        <div class="col" style="text-align: end">
                            <button class="btn " type="button" th:id="${p.getProjectId()}" data-toggle="modal"
                                    data-target="#memberModal" onclick="memberList(this)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-people-fill" viewBox="0 0 16 16">
                                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                                </svg>
                            </button>
                        </div>


                    </div>


                    <div class="row" th:id="${p.getProjectId()}">

                        <div class="col" style="float: left;">

                            <div class="subTitle" th:text="${p.getOrganName()}"></div>


                        </div>

                    </div>


                    <div class="row" style="display: block; MARGIN-RIGHT: 0; " th:id="${p.getProjectId()}"
                         onclick="goProject(this)">
                        <div class="col projectTitle" style="      margin: 5px 10px 0px 10px; OVERFLOW: hidden;
    TEXT-OVERFLOW: ellipsis;" th:text="${p.getProjectName()}"></div>
                        <div class="col explanationText" th:text="${p.getExplanation()}"></div>
                    </div>


                </div>





            </div>




        </div>


        <script>
            jQuery(document).ready(function () {
                projectList()
                if([[ ${ not #lists.isEmpty(invite)}]]){

                    Swal.fire({
                        title: '프로젝트 참여 요청이 있습니다', text: '확인하시겠습니까?', icon: 'info',

                        showCancelButton: true, // cancel버튼 보이기. 기본은 원래 없음
                        confirmButtonColor: '#3085d6', // confrim 버튼 색깔 지정
                        cancelButtonColor: '#d33', // cancel 버튼 색깔 지정
                        cancelButtonText: '취소', // cancel 버튼 텍스트 지정
                        confirmButtonText: '확인', // confirm 버튼 텍스트 지정

                    }).then(result => {
                        // 만약 Promise리턴을 받으면,
                        if (result.isConfirmed) { // 만약 모달창에서 confirm 버튼을 눌렀다면

                            inviteList()

                        }
                    });

                }


            });

        </script>


    </div>


</div>

</body>


</html>
