<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>내가 쓴 글</title>
    <link th:href="@{/css/project/task.css}" rel="stylesheet"/>
    <link th:href="@{/css/project/myText.css}" rel="stylesheet"/>
    <script th:src="@{/js/project/myText.js}" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABN0ndYhxNu4zHlvEfKi_r42aSUMeVUaI&libraries=places"
            defer></script>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <div class="myText-header">
        <span class="myText-title"> 내 게시물</span>
    </div>
    <div class="myText-content-area">
        <div class="myText-total" th:text="전체+ ' '+${#lists.size(text)}"></div>
        <div th:if="${#lists.isEmpty(text)}" style="display: flex; justify-content: center;">
            <div class="none-content" style="position: fixed; top: 40%">
                <img src="/img/myText.png" alt="img"/>
                <p class="none-text">
                    작성하신 게시글이 존재하지 않습니다.
                </p>
            </div>
        </div>
        <ul class="myText-list scroll-mask" th:unless="${#lists.isEmpty(text)}">
            <li class="myText-li" th:each="text :${text}">
                <div class="myText-div" id="board-text" th:if="${text.boardId != 0}" data-bs-toggle="offcanvas" data-bs-target="#board-myText"
                     aria-controls="offcanvasWithBothOptions">
                    <input type="hidden" th:value="${text.boardId}" id="myText-boardId"/>
                    <div class="myText-first-list">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fd7900"
                             class="bi bi-file-earmark-text me-2" viewBox="0 0 16 16">
                            <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                            <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                        </svg>
                        <span class="myText-kind">글 </span>
                    </div>
                    <div class="myText-content">
                        <div class="myText-content-title" th:text="${text.bTitle}"></div>
                        <p class="myText-project">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-stickies" viewBox="0 0 16 16">
                                <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5V13a1 1 0 0 0 1 1V1.5a.5.5 0 0 1 .5-.5H14a1 1 0 0 0-1-1H1.5z"/>
                                <path d="M3.5 2A1.5 1.5 0 0 0 2 3.5v11A1.5 1.5 0 0 0 3.5 16h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 16 9.586V3.5A1.5 1.5 0 0 0 14.5 2h-11zM3 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5V9h-4.5A1.5 1.5 0 0 0 9 10.5V15H3.5a.5.5 0 0 1-.5-.5v-11zm7 11.293V10.5a.5.5 0 0 1 .5-.5h4.293L10 14.793z"/>
                            </svg>
                            <span th:text="${text.projectName}"></span>
                        </p>
                    </div>
                    <div class="myText-list-right">
                        <div class="post-list myText-username" th:text="${text.name}"></div>
                        <div class="post-list myText-createDate" th:text="${#dates.format(text.entryDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
                    </div>
                </div>
                <div class="myText-div" id="task-text" th:if="${text.taskId != 0}" data-bs-toggle="offcanvas" data-bs-target="#task-myText"
                     aria-controls="offcanvasWithBothOptions">
                    <input type="hidden" th:value="${text.taskId}" id="myText-taskId"/>
                    <div class="myText-first-list">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#6449fc"
                             class="bi bi-list-ul me-2"
                             viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                        <span class="myText-kind">업무</span>
                    </div>
                    <div class="myText-content">
                        <div class="myText-content-title" th:text="${text.taskTitle}"></div>
                        <p class="myText-project">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-stickies" viewBox="0 0 16 16">
                                <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5V13a1 1 0 0 0 1 1V1.5a.5.5 0 0 1 .5-.5H14a1 1 0 0 0-1-1H1.5z"/>
                                <path d="M3.5 2A1.5 1.5 0 0 0 2 3.5v11A1.5 1.5 0 0 0 3.5 16h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 16 9.586V3.5A1.5 1.5 0 0 0 14.5 2h-11zM3 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5V9h-4.5A1.5 1.5 0 0 0 9 10.5V15H3.5a.5.5 0 0 1-.5-.5v-11zm7 11.293V10.5a.5.5 0 0 1 .5-.5h4.293L10 14.793z"/>
                            </svg>
                            <span th:text="${text.projectName}"></span>
                        </p>
                    </div>
                    <div class="myText-list-right">
                        <div class="post-list myText-username" th:text="${text.name}"></div>
                        <div class="post-list myText-createDate" th:text="${#dates.format(text.crtDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
                    </div>
                </div>
                <div class="myText-div" id="calendar-text" th:if="${text.calendarId != 0}" data-bs-toggle="offcanvas" data-bs-target="#calendar-myText"
                     aria-controls="offcanvasWithBothOptions">
                    <input type="hidden" th:value="${text.calendarId}" id="myText-calendarId"/>
                    <div class="myText-first-list">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#00b19c" class="bi bi-calendar-week me-2" viewBox="0 0 16 16">
                            <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                        </svg>
                        <span class="myText-kind">일정</span>
                    </div>
                    <div class="myText-content">
                        <div class="myText-content-title" th:text="${text.calTitle}"></div>
                        <p class="myText-project">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-stickies" viewBox="0 0 16 16">
                                <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5V13a1 1 0 0 0 1 1V1.5a.5.5 0 0 1 .5-.5H14a1 1 0 0 0-1-1H1.5z"/>
                                <path d="M3.5 2A1.5 1.5 0 0 0 2 3.5v11A1.5 1.5 0 0 0 3.5 16h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 16 9.586V3.5A1.5 1.5 0 0 0 14.5 2h-11zM3 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5V9h-4.5A1.5 1.5 0 0 0 9 10.5V15H3.5a.5.5 0 0 1-.5-.5v-11zm7 11.293V10.5a.5.5 0 0 1 .5-.5h4.293L10 14.793z"/>
                            </svg>
                            <span th:text="${text.projectName}"></span>
                        </p>
                    </div>
                    <div class="myText-list-right">
                        <div class="post-list myText-username" th:text="${text.name}"></div>
                        <div class="post-list myText-createDate" th:text="${#dates.format(text.calRegisterDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
                    </div>
                </div>


            </li>
        </ul>
    </div>

    <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
         id="task-myText" aria-labelledby="offcanvasWithBothOptionsLabel" style="width: 700px; top: 32px">

        <div class="offcanvas-header" style="border-bottom: 1px solid #777777">
            <span class="offcanvas-title" id="offcanvasScrollingLabel"
                  style="font-size: 14px">업무 상세보기</span>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body px-0">
            <div class="postHeader">
                <div class="postAuthor">
                    <span id="myText-profile" class="postProfile thumbnail"></span>
                    <dl class="post-author-info">
                        <dt>
                            <strong class="myText-authorName"></strong>
                            <span class="myText-postDate"></span>
                        </dt>
                        <dd class="d-none">
                            <strong class=""></strong>
                            <span class="team"></span>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="title-header">
                <div class="postTitle">
                    <h4 class="post-title-h4 myText-taskTitle"></h4>
                </div>
                <div class="post-state">
                    <span class="task-number d-inline-block myText-taskId">
                          업무번호<em></em>
                    </span>
                </div>
            </div>
            <div class="post-content">
                <div class="post-task-summary">
                    <div class="post-task-option">
                        <ul class="task-content-group">
                            <li class="process-layer-task">
                                <div class="create-content content-title">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black"
                                         class="bi bi-clock-history" viewBox="0 0 16 16">
                                        <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                                        <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                                        <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                                    </svg>
                                </div>
                                <div class="create-content task-detail-processBtn"
                                     style="width: 80%; pointer-events: none;">
                                    <button class="myText-process-btn requestBtn">요청</button>
                                    <button class="myText-process-btn progressBtn">진행</button>
                                    <button class="myText-process-btn feedBackBtn">피드백</button>
                                    <button class="myText-process-btn finishBtn">완료</button>
                                    <button class="myText-process-btn holdBtn">보류</button>
                                </div>
                            </li>
                            <li class="startDate-layer-myText">
                                <div class="create-content content-title">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black"
                                         class="bi bi-calendar4" viewBox="0 0 16 16">
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"/>
                                    </svg>
                                </div>
                                <div class="create-content">
                                    <div class="post-startDate">
                                        <div class="startDate-group">
                                            <div class="myText-startDate-exist">
                                                <span class="date-value myText-startDate-value"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="endDate-layer-myText">
                                <div class="create-content content-title">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black"
                                         class="bi bi-calendar4" viewBox="0 0 16 16">
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"/>
                                    </svg>
                                </div>
                                <div class="create-content">
                                    <div class="post-endDate">
                                        <div class="endDate-group">
                                            <div class="myText-endDate-exist">
                                                <span class="date-value myText-endDate-value"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="priority-layer-myText">
                                <div class="create-content content-title">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black"
                                         class="bi bi-flag" viewBox="0 0 16 16">
                                        <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"/>
                                    </svg>
                                </div>
                                <div class="create-content">
                                    <div class="prioritySpan-myText">
                                        <span class="myText-priority-value"
                                              style="font-size: 16px; vertical-align: middle"></span>
                                    </div>
                                </div>
                            </li>
                            <li class="progress-layer-myText">
                                <div class="create-content content-title">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black"
                                         class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                                        <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
                                    </svg>
                                </div>
                                <div class="create-content task-progress-input">
                                    <span style="display: flex; flex-direction: column; justify-content: center; overflow: hidden; border: 1px solid #ddd; width: 100px; height: 10px; background-color: #ddd; border-radius: 4px; margin-right: 10px">
                                            <span class="myText-progress-bar"
                                                  style="margin-top:0; display: inline-block; height: 10px; background: #FFE283; vertical-align: top; border-radius: 4px"></span>
                                        </span>
                                    <span class="myText-progress-percent" style="display: inline-block"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="myText-taskContent"></div>
                    <div class="img-container-myText">
                    </div>
                    <div class="myText-file-post-area mt-3"
                         style="border: 1px solid #777777; border-radius: 10%; padding: 20px 20px; display: none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-file-earmark-arrow-down me-2" viewBox="0 0 16 16">
                            <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                        </svg>
                        <span style="vertical-align: middle">첨부파일</span>
                        <div class="file-container-myText">
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-footer show-comment">
                <input class="myText-login" type="hidden" th:value="${logIn.id}"/>
                <ul class="post-comment-group" id="commentGroup-myText">
                </ul>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
         id="board-myText" aria-labelledby="offcanvasWithBothOptionsLabel" style="width: 700px; top: 32px">

        <div class="offcanvas-header" style="border-bottom: 1px solid #777777">
            <span class="offcanvas-title" id="offcanvasLabel"
                  style="font-size: 14px">글 상세보기</span>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body px-0">
            <div class="postHeader">
                <div class="postAuthor">
                    <span id="myText-board-profile" class="postProfile thumbnail"></span>
                    <dl class="post-author-info">
                        <dt>
                            <strong class="myText-authorName myText-board-author"></strong>
                            <span class="myText-postDate"></span>
                        </dt>
                        <dd class="d-none">
                            <strong class=""></strong>
                            <span class="team"></span>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="title-header">
                <div class="postTitle">
                    <h4 class="post-title-h4 myText-bTitle"></h4>
                </div>
                <div class="post-state">
                    <span class="task-number d-inline-block myText-boardId">
                          글 번호<em></em>
                    </span>
                </div>
            </div>
            <div class="post-content">
                <div class="post-task-summary">
                    <div class="myText-bContent"></div>
                    <div class="img-container-bmyText"></div>
                    <div class="myText-bfile-post-area mt-3"
                         style="border: 1px solid #777777; border-radius: 10%; padding: 20px 20px; display: none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-file-earmark-arrow-down me-2" viewBox="0 0 16 16">
                            <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                        </svg>
                        <span style="vertical-align: middle">첨부파일</span>
                        <div class="file-container-bmyText">
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-footer show-comment">
                <input class="myText-login" type="hidden" th:value="${logIn.id}"/>
                <ul class="post-comment-group" id="commentGroup-myText-board">
                </ul>
            </div>
        </div>
    </div>
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
         id="calendar-myText" aria-labelledby="offcanvasWithBothOptionsLabel" style="width: 700px; top: 32px">

        <div class="offcanvas-header" style="border-bottom: 1px solid #777777">
            <span class="offcanvas-title" id="offcanvasLabelcal"
                  style="font-size: 14px">일정 상세보기</span>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body px-0">
            <div class="postHeader">
                <div class="postAuthor">
                    <span id="myText-calendar-profile" class="postProfile thumbnail"></span>
                    <dl class="post-author-info">
                        <dt>
                            <strong class="myText-authorName myText-calendar-author"></strong>
                            <span class="myText-postDate"></span>
                        </dt>
                        <dd class="d-none">
                            <strong class=""></strong>
                            <span class="team"></span>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="title-header">
                <div class="post-calendar-date">
                    <div class="calendar-date">
                        <strong class="myText-calendar-month"></strong>
                        <strong class="myText-calendar-day"></strong>
                    </div>
                    <div class="calendar-title post-title-area">
                        <h4 class="post-title-h4 myText-cTitle" ></h4>
                        <div class="myText-calendar-period-area"></div>
                    </div>
                </div>
                <div class="post-state" style="width: 100px; align-items: end">
                    <span class="task-number d-inline-block myText-calendarId">
                          일정 번호<em></em>
                    </span>
                </div>
            </div>
            <div class="post-content">
                <div class="post-task-summary">
                    <ul class="option-group" style="list-style: none; padding: 0">
                        <li class="post-calendar-place" style="align-items: start">
                            <div class="create-content content-title" style="position: relative; vertical-align: top; margin-top: 10px ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>
                            </div>
                            <div class="create-content" style="display: block; margin-top: 10px">
                                <input type="hidden" id="calAddress-myText">
                                <div class="post-ellipsis" style="width: 100%; float: left;"></div>
                                <div id="myTextView" class="preview-map-home" style="display: inline-block;"></div>
                            </div>
                        </li>
                        <li class="post-calendar-content mb-5">
                            <div class="create-content content-title">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                     class="bi bi-clipboard2-check" viewBox="0 0 16 16">
                                    <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5h3Z"/>
                                    <path d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-12Z"/>
                                    <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3Z"/>
                                </svg>
                            </div>
                            <div class="create-content">
                                <div id="myText-calendar-content"></div>
                            </div>
                        </li>
                    </ul>
                    <div class="img-container-cmyText"></div>
                    <div class="myText-cfile-post-area mt-3"
                         style="border: 1px solid #777777; border-radius: 10%; padding: 20px 20px; display: none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-file-earmark-arrow-down me-2" viewBox="0 0 16 16">
                            <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                        </svg>
                        <span style="vertical-align: middle">첨부파일</span>
                        <div class="file-container-cmyText">
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-footer show-comment">
                <input class="myText-login" type="hidden" th:value="${logIn.id}"/>
                <ul class="post-comment-group" id="commentGroup-myText-calendar">
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>