<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      th:fragment="projectFileContent(project, logIn)">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <!-- Plugin -->
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css"/>
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>

    <link rel="stylesheet" href="/css/injoyMain.css">
    <script th:src="@{/js/project/projectFile.js}" defer></script>

</head>

<body>
<!--<div class="container-fluid">-->
<!--    <div id="dropzone">-->
<!--        <form action="https://httpbin.org/post" class="dropzone needsclick" id="demo-upload">-->
<!--            <div class="dz-message needsclick">-->
<!--      <span class="text">-->

<!--      Drop files here or click to upload.-->
<!--      </span>-->
<!--                <span class="plus">+</span>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->

<!--    <div class="row">-->

<!--        <div class="col mb-3">-->
<!--            <input type="checkbox" onclick="selectAll(this)"> 전체선택-->
<!--            <button class="btn btn-green" type="button" onclick="openDrop()" style="float: right">-->
<!--                <i class="fa-solid fa-plus fa-bounce fa-sm" style="margin-right: 5px; "></i>파일 업로드-->
<!--            </button>-->


<!--        </div>-->


<!--    </div>-->


<!--    <div class="row">-->
<!--        <div class="col-md-2">-->

<!--            <div class="card">-->
<!--                <h5 class="card-header">-->
<!--                    <input type="checkbox">-->
<!--                    파일 1</h5>-->
<!--                <div class="card-body" style="text-align: center">-->
<!--                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor"-->
<!--                         class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">-->
<!--                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z"/>-->
<!--                    </svg>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->

<div class="document">

    <div class="document-search-wrap">
        <div class="document-search">
            <div class="search-file">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                     viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
                <input class="search-file-input" type="search" placeholder="파일명을 입력해주세요"/>
            </div>
        </div>
        <div class="tool-document">
            <button id="fileMoveButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrows-move" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10zM.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708l-2-2zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8z"/>
                </svg>
                이동
            </button>
            <button id="fileDownloadButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                </svg>
                다운로드
            </button>
            <button id="fileDeleteButton" class="task-setting" onclick="folderDeleteClick()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3"
                     viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg>
                폴더 삭제
            </button>


            <button type="button" class="js-file-add-button collect-add-button" id="addFolderBtn"
                    style="display: inline-block;" data-toggle="modal" data-target="#addFolderModal">
                + 폴더추가
            </button>


        </div>
    </div>
    <div class="document-table-area">
        <table class="table">
            <thead class="text-center" style="background-color: #fafafa; ">
            <th style="width: 60%; color: #888;">파일명</th>
            <th style="width: 10%; color: #888;">용량</th>
            <th style="width: 10%; color: #888;">등록자</th>
            <th style="width: 18%; color: #888;">등록일</th>
            </thead>
            <tbody id="listBody">




            <tr class="file-tr">
                <td class="file-name-area">
                    <input class="file-checkBox" type="checkbox"/>
                    <div class="file-img">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#3064B3"
                             class="bi bi-image-fill" viewBox="0 0 16 16">
                            <path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"/>
                        </svg>
                    </div>
                    <span class="file-name">파일 이름</span>
                </td>
                <td class="text-center">파일 용량</td>
                <td class="text-center">파일 등록자</td>
                <td class="text-center">파일 등록일</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!--폴더 추가 모달-->

<div class="modal fade" id="addFolderModal" tabindex="-1" aria-labelledby="addFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addFolderModalLabel">새폴더</h1>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div>
                    <label th:target="root"> 현재 경로 </label>
                    <div id="root">/</div>
                    <br>
                </div>

                <label th:target="folderName"> 새 폴더 이름</label>
                <input type="text" class="form-control" id="folderName" oninput="checkFolderName()"
                       placeholder="폴더이름을 입력해주세요">
                <span class="mt-1" id="existFolderName" style="color: #F5544D; display: none">이미 등록된 폴더이름입니다.</span>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-green" onclick="addFolder()">생성</button>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        $('#addFolderModal').click();
        printFolder('/');
    });

</script>
</body>
</html>
