<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" th:fragment="taskContent">
<head>
    <meta charset="UTF-8">
    <title>INJOY</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <link th:href="@{/css/project/task.css}" rel="stylesheet"/>
    <script src="/js/project/task.js" defer></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <input id="searchTask" class="searchInput form-control" type="search"
                   placeholder="업무명 또는 업무번호를 검색하세요."/>
            <label for="searchTask"></label>
            <div class="searchIcon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </div>

        </div>
        <div class="col text-end">
            <button class="taskAddButton btn" data-bs-toggle="modal" data-bs-target="#addTaskModal">
                업무 추가
            </button>
            <div class="modal" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content p-3">
                        <div class="modal-header">
                            <span class="modal-title mr-2" id="addTaskModalLabel" style="font-weight: bold">
                                업무 작성 |
                            </span>
                            <span>프로젝트명</span>

                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-start">
                            <div>
                                <input id="taskTitle" placeholder="제목을 입력하세요" style=""/>
                                <label for="taskTitle"></label>
                            </div>
                            <div class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                     class="bi bi-clock-history mr-3" viewBox="0 0 16 16">
                                    <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                                    <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                                    <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                                </svg>
                                <button class="btn processBtn requestBtn">요청</button>
                                <button class="btn processBtn progressBtn">진행</button>
                                <button class="btn processBtn feedBackBtn">피드백</button>
                                <button class="btn processBtn finishBtn">완료</button>
                                <button class="btn processBtn holdBtn">보류</button>
                            </div>
                            <div class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                     class="bi bi-person mr-3" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                                </svg>
                                담당자 추가
                            </div>
                            <hr/>
                            <div>
                                <label>
                                    <textarea class="writeContent" placeholder="내용을 입력하세요."></textarea>
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer" style="justify-content: space-between !important;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-paperclip" viewBox="0 0 16 16">
                                <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
                            </svg>
                            <button type="button" class="btn " style="background-color: #001542; color: white">등록
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div>
    <table class="table table-bordered text-center">
        <thead>
        <tr style="text-align: center">
            <th style="width: 300px">업무명</th>
            <th style="width: 150px">상태</th>
            <th style="width: 80px">우선순위</th>
            <th style="width: 100px">담당자</th>
            <th style="width: 100px">시작일</th>
            <th style="width: 100px">마감일</th>
            <th style="width: 100px">등록일</th>
            <th style="width: 80px">업무번호</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>업무1</td>
            <td>요청</td>
            <td class="dropdown">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item active" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
            </td>
            <td>-</td>
            <td>시작</td>
            <td>마감</td>
            <td>등록</td>
            <td>4</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>