<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns="http://www.w3.org/1999/html">

<head>
    <title>INJOY</title>
    <meta charset="UTF-8"/>
    <link th:href="@{/css/injoyMain.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/layout/layout.css}"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
<!--    소켓통신-->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <style>
        .main_div{
            display: flex;
            flex-direction: row;
        }

    </style>
</head>
<body>
<th:block th:replace="~{/fragment/header :: headFragment}"></th:block>
<div class="container-fluid" style="padding: 0">
    <div class="main_div" style="margin: 0">
        <div class=" sidebar">
            <div th:replace="~{/fragment/sideBar :: sideBarFragment}"></div>
        </div>
        <div class=" content" style="padding-left: 240px!important; padding-right: 0;min-width: 1508px;width: 100%">
            <div layout:fragment="content">

            </div>
        </div>
    </div>
</div>
</body>
</html>
