.login-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.login-info-name{
    display: flex;
    flex-direction: column;
}
.login-info-state {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.login-info-state p{
    font-size: 14px;
    color: #989797;
}
.showConnections-header {
    padding: 0;
    background-color: rgb(35, 165, 89);

    /*background-color: rgb(128, 132, 142);*/
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    width: 7px;
    height: 7px;
    border-radius: 100%;
    margin-right: 5px;
}
.showConnections-header2 {
    padding: 0;
    background-color: rgb(128, 132, 142);

    /*background-color: rgb(128, 132, 142);*/
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    width: 7px;
    height: 7px;
    border-radius: 100%;
    margin-right: 5px;
}
.showConnections-header3{
    padding: 0;
    background-color: rgb(35, 165, 89);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: absolute;
    /*right: 12px;*/
    top: 28px;
    left: 38px;
}