.sidebar{
    /*padding-right: 0 !important;*/
    padding-left: 0 !important;
    width: 240px;
    min-width: 200px;
    top: 40px;
    position: fixed;
    height: 100%;
    overflow: auto;
    float: left;
    background-color: #001542;
}

.content{
    padding-left: 240px;
    padding-right: 0;
    min-width: 1508px;
    width: 100%;
}
