<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="headFragment" >
    <nav>
        <span>
<!-- data-bs-toggle="dropdown" id="userDrop" aria-expanded="false"  aria-labelledby="userDrop" -->
            <!-- Example single danger button -->
                <div  style="display:inline-block; position: fixed; right: 20px; top: -3px">
                  <button type="button" class="btn" onclick="dropUser()">
                    <img style="height: 35px; width: 35px;border-radius: 30%" th:src="@{${logIn.profilePhoto}}"
                         onerror=this.src='/img/user.jpg'>
                      <div class="showConnections-header3" id="showConnectionsHeader3"></div>
                  </button>
                  <ul class="dropdown-menu" id='userDropbox'  style="right: 0; left: auto">
                    <li class="dropdown-item login-info" id="login-info">
                        <img style="height: 38px; margin-right: 12px; width: 38px;border-radius: 30%" th:src="@{${logIn.profilePhoto}}"
                             onerror=this.src='/img/user.jpg'>
                        <div class="login-info-name">
                            <strong><p th:text="${logIn.name}" style="margin: 0"></p></strong>
                            <div class="login-info-state" id="loginInfoState1">
                                <div class="showConnections-header"></div>
                                <p style="margin: 0">대화 가능</p>
                            </div>
                             <div class="login-info-state" id="loginInfoState2">
                                <div class="showConnections-header2"></div>
                                <p style="margin: 0">자리 비움</p>
                            </div>
                        </div>
                    </li>
                    <li><a class="dropdown-item"  href="/user/userInfo">유저정보</a></li>
                    <li id="logInConversation1"><a class="dropdown-item"  href="#" onclick="conversationAway()">자신을 <strong>자리 비움</strong>(으)로 설정</a></li>
                      <li id="logInConversation2"><a class="dropdown-item"  href="#" onclick="conversationAvailable()">자신을 <strong>활성</strong>(으)로 설정</a></li>

                    <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#" onclick="withdrawal()">회원탈퇴</a></li>
                    <li><a class="dropdown-item" href="#" onclick="logout()">로그아웃</a></li>
                  </ul>
                </div>
            <!--            <img style="height: 27px; width: 27px;border-radius: 30%" th:src="${logIn.profilePhoto}" onerror=location.href='/img/user.jpg'  onclick="location.href='/user/userInfo'">-->
            <!--            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"-->
            <!--                 class="bi bi-person-circle"-->
            <!--                 viewBox="0 0 16 16" onclick="location.href='/user/userInfo'">-->
            <!--                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>-->
            <!--                <path fill-rule="evenodd"-->
            <!--                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>-->
            <!--            </svg>-->
        </span>
    </nav>

</header>


</html>
