<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="navbarfragment">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>
    <script src="/js/navbar.js" defer></script>
</head>
<body>
<ul class="nav nav-underline mb-4" style="border-bottom: 1px inset">
    <li class="nav-item">
        <div class="nav-link disabled"></div>
    </li>
    <li class="nav-item">
        <a class="nav-link active" th:href="@{/project}">홈</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/task">업무</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  th:href="@{/kanbanBoard}">칸반보드</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  href="/schedule">캘린더</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/memberManage">멤버관리</a>
    </li>
</ul>
</body>
</html>
