<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="sideBarFragment">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/injoyMain.css}" rel="stylesheet"/>

</head>
<body>
<ul class="sidebar_ul">
    <li class="sidebar_li"><img class="logo" src="/img/injoy.png" alt="injoyImg"/></li>
    <li class="sidebar_li">
        <button class="btn projectButton" onclick="location.href='/project/newProjectMain'">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
            </svg>
            새로운 프로젝트
        </button>
    </li>
    <li class="sidebar_li" onclick="location.href='/project/myProject'">
        <button type="button" class="btn btn-acd" style="width: 100%;  height: 20%;color: #fff">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FC4C70"
                 style="     margin-top: 3px;float: left;" class="bi bi-house-fill" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
                <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
            </svg>
            메인으로
        </button>
    </li>

    <li class="sidebar_li">


        <button class="btn btn-acd " type="button"  name='bookMark' onclick="OnOff(this)"
                id="bookmarkBtn" style="width: 100%;  height: 20%;color: #fff ;
                            border:none;background-color: #001542; ">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFB30D "
                 style="    margin-top: 3px; float: left;"
                 class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            </svg>

            북마크
            <i class="fa-solid fa-angle-up fa-beat-fade  " id="bookMarkup"

               style="margin-top: 3px;color: #ffffff;float: right;display: none"></i>
            <i class="fa-solid fa-angle-down fa-beat-fade " id="bookMarkdown"

               style="margin-top: 3px;color: #ffffff;float: right;display: unset"></i>
        </button>
        </h2>
        <div id="bookMarkListDiv" style="background-color: transparent; display: none; ">
            <div class="row bookMarkBody" id="bookMarkBody" style="background-color: transparent; padding: 0;">

            </div>
        </div>


    </li>
    <li class="sidebar_li" onclick="location.href='/project/myText'">
        <button type="button" class="btn btn-acd" style="width: 100%;  height: 20%;color: #fff">
            <i class="fa-solid fa-rectangle-list" style="color: #00B19c; margin-top: 3px; float:left"></i>
            내 게시물
        </button>
    </li>
    <li class="sidebar_li" onclick="location.href='/project/myComment'">
        <button type="button" class="btn btn-acd" style="width: 100%;  height: 20%; color: #fff">
            <i class="fa-solid fa-comments" style="color: #5e9dff; margin-top: 3px; float:left"></i>
            내 댓글
        </button>
    </li>
    <li class="sidebar_li" onclick="location.href='/project/allFile'">
        <button type="button" class="btn btn-acd"   style="width: 100%;  height: 20%; color: #fff">

            <svg xmlns="http://www.w3.org/2000/svg" style="color: #E479F7; margin-top: 3px; float:left" width="16" height="16" fill="currentColor" class="bi bi-folder-fill" viewBox="0 0 16 16">
                <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z"/>
            </svg>
            모든 파일

        </button>
    </li>

    <li class="sidebar_li" id="enterMember" style="display: none">
        <button class="btn btn-acd " type="button" name='member' onclick="OnOff(this)"
                id="memberBtn" style="width: 100%;  height: 0%;color: #fff ;
                            border:none;background-color: #001542; ">

            <svg xmlns="http://www.w3.org/2000/svg"  width="16" height="16" fill="#E67DA5"
                 style="    margin-top: 3px; float: left;" viewBox="0 0 640 512">

                <path d="M144 0a80 80 0 1 1 0 160A80 80 0 1 1 144 0zM512 0a80 80 0 1 1 0 160A80 80 0 1 1 512 0zM0 298.7C0 239.8 47.8 192 106.7 192h42.7c15.9 0 31 3.5 44.6 9.7c-1.3 7.2-1.9 14.7-1.9 22.3c0 38.2 16.8 72.5 43.3 96c-.2 0-.4 0-.7 0H21.3C9.6 320 0 310.4 0 298.7zM405.3 320c-.2 0-.4 0-.7 0c26.6-23.5 43.3-57.8 43.3-96c0-7.6-.7-15-1.9-22.3c13.6-6.3 28.7-9.7 44.6-9.7h42.7C592.2 192 640 239.8 640 298.7c0 11.8-9.6 21.3-21.3 21.3H405.3zM224 224a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zM128 485.3C128 411.7 187.7 352 261.3 352H378.7C452.3 352 512 411.7 512 485.3c0 14.7-11.9 26.7-26.7 26.7H154.7c-14.7 0-26.7-11.9-26.7-26.7z"/>
            </svg>
            참여중인 멤버
            <i class="fa-solid fa-angle-up fa-beat-fade  " id="memberup"

               style="margin-top: 3px;color: #ffffff;float: right;display: none"></i>
            <i class="fa-solid fa-angle-down fa-beat-fade " id="memberdown"

               style="margin-top: 3px;color: #ffffff;float: right;display: unset"></i>


            <div id="memberListDiv" style="background-color: transparent; display: none; ">
                <div class="row memberBody" id="memberBody" style="background-color: transparent; padding: 0;margin-top: 10px">


                </div>
            </div>
        </button>
    </li>

</ul>
<input type="hidden" id="logInId" th:value="${logIn.id}">
<input type="hidden" id="logInConversation" th:value="${logIn.conversation}">
<script>
    const logInId = document.getElementById('logInId').value;
    const logInConversation = document.getElementById('logInConversation').value;
    const memberBody = document.getElementById("memberBody");

    console.log(logInConversation+'ddddddddddddddddddddddddddddddddddd')
    $(document).ready(function () {
        if (typeof SockJS !== 'undefined') {

            var socket = new SockJS('/ws-stomp');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, onConnected, onError);
        } else {
            console.error('SockJS library is not loaded.');
        }

        printBookMarkList()


        // const urlParams = new URL(location.href);
        // const projectId = urlParams.pathname.split('/')[2];
        //
        //
        // if (!isNaN(projectId)) {
        //     printMemberList(projectId)
        //     const enterMember = document.getElementById("enterMember")
        //     enterMember.style.display= 'unset'
        //
        // }


    })

    function onConnected() {
        stompClient.subscribe('/sub/connect', onMessageReceived);

        // 서버에 username 을 가진 유저가 들어왔다는 것을 알림
        // /pub/chat/enterUser 로 메시지를 보냄
        stompClient.send("/pub/connect/enterUser",
            {},JSON.stringify({
                id:logInId
            }))
    }

    function onError(error) {
        console.log('Could not connect to WebSocket server.')
    }

    function onMessageReceived(payload) {
        let json = payload.body;
        let logInUsers = new Set(JSON.parse(json));
        const urlParams = new URL(location.href);
        const projectId = urlParams.pathname.split('/')[2];
        if (logInUsers.has(parseInt(logInId))) {
            logInConversation1.style.display = "block";
            logInConversation2.style.display = "none";
            loginInfoState1.style.display = "flex";
            loginInfoState2.style.display = "none";
            showConnectionsHeader3.style.backgroundColor="rgb(35, 165, 89)"
        }else{
            logInConversation1.style.display = "none";
            logInConversation2.style.display = "block";
            loginInfoState1.style.display = "none";
            loginInfoState2.style.display = "flex";
            showConnectionsHeader3.style.backgroundColor="rgb(128, 132, 142)"
        }

        if (!isNaN(projectId)) {

            printMemberList(projectId,logInUsers);
            const enterMember = document.getElementById("enterMember");
            enterMember.style.display= 'unset';
        }

    }

    function OnOff(element) {
        printBookMarkList()
        const up = document.getElementById(element.name+'up')
        const down = document.getElementById(element.name+'down')
        const listDiv = document.getElementById(element.name+'ListDiv')
        if (down.style.display == 'unset') {



            down.style.display = 'none'
            up.style.display = 'unset'
            listDiv.style.display = 'unset'

        } else if (down.style.display == 'none') {


            up.style.display = 'none'
            down.style.display = 'unset'

            listDiv.style.display = 'none'
        }


    }


    function printBookMarkList() {
        console.log("bookMarkBody load")
        $('.bookMarkBody').empty()

        $.ajax({
            url: '/project/bookmarkList', //Controller에서 요청 받을 주소
            type: 'GET', //POST 방식으로 전달
            success: function (result) {
                console.log("bookmarkList bookmarkList bookmarkList")
                if (result.length >= 1) {



                    result.forEach(function (item) {
                        $('.bookMarkBody').append(
                            "<p class='sideBookmark'  ' " +
                            " onclick ='project(" + item.projectId + ")'>" +  item.projectName + "</p>"
                        )
                    })
                } else {
                    $('.bookMarkBody').append(
                        "<p class='sideBookmark' >비어있음</p>"
                    )
                }
            }

        })
    }


    function printMemberList(projectId,logInUsers) {
        console.log("memberBody load")

        // $('.memberBody').empty()

        $.ajax({
            url: '/member/selectMember', //Controller에서 요청 받을 주소
            type: 'GET', //POST 방식으로 전달
            data: {"projectId": projectId},
            success: function (result) {
                while (memberBody.firstChild) {
                    memberBody.removeChild(memberBody.firstChild);
                }
                if (result.length >= 1) {
                    console.log("memberBody >>>>>>>>>>" + result);


                    result.forEach(function (item) {
                        if(logInUsers.has(item.userId)){
                            $('.memberBody').append(
                                "<div class='row sideMember'  style='align-items: center;height: 50px' >"+

                                "<div class='col-md-4' STYLE='margin: 0; !important; position: relative'>"+
                                "<img class='postProfile  thumbnail' style='border:none' src='"+ item.profilePhoto +"'  onerror=this.src='/img/moru.jpg'>" +
                                "<div class='showConnections' style='background-color: rgb(35,165,89)'>"+
                                "</div>"+
                                "</div>"+
                                "<div class='col-md-8'>"+ item.name +
                                "</div>"+
                                "</div>"
                            )
                        }else{
                            $('.memberBody').append(
                                "<div class='row sideMember'  style='align-items: center;height: 50px' >"+

                                "<div class='col-md-4' STYLE='margin: 0; !important;position: relative'>"+
                                "<img class='postProfile  thumbnail' style='border:none' src='"+ item.profilePhoto +"'  onerror=this.src='/img/moru.jpg'>" +
                                "<div class='showConnections' >"+
                                "</div>"+
                                "</div>"+
                                "<div class='col-md-8'>"+ item.name +
                                "</div>"+
                                "</div>"
                            )
                        }
                    });
                } else {
                    $('.memberBody').append(
                        "<p >비어있음</p>"
                    );
                }
            }

        })
    }



    function project(projectId) {
        location.href = "/project/" + projectId
    }


</script>
</body>
</html>
