<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="sideBarFragment">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/injoyMain.css}" rel="stylesheet"/>
</head>
<body>
<ul class="sidebar_ul">
    <li class="sidebar_li"><img src="/img/injoy.png" alt="injoyImg"/></li>
    <li class="sidebar_li">
        <button class="btn projectButton" onclick="location.href='/project/newProjectMain'">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
            </svg>
            새로운 프로젝트
        </button>
    </li>
    <li class="sidebar_li" onclick="location.href='/project/myProject'">
        <button type="button" class="btn btn-acd" style="width: 100%;  height: 20%;color: #fff">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FC4C70"
                 style="     margin-top: 3px;float: left;" class="bi bi-house-fill" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
                <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
            </svg>
            메인으로
        </button>
    </li>

    <li class="sidebar_li">


        <button class="btn btn-acd " type="button" onclick="OnOffMark()"
                id="bookmarkBtn" style="width: 100%;  height: 20%;color: #fff ;
                            border:none;background-color: #001542; "

        >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFB30D "
                 style="    margin-top: 3px; float: left;"
                 class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            </svg>

            북마크
            <i class="fa-solid fa-angle-up fa-beat-fade  " id="up"

               style="margin-top: 3px;color: #ffffff;float: right;display: none"></i>
            <i class="fa-solid fa-angle-down fa-beat-fade " id="down"

               style="margin-top: 3px;color: #ffffff;float: right;display: unset"></i>
        </button>
        </h2>
        <div id="bookMarkListDiv" style="background-color: transparent; display: none; ">
            <div class="row bookMarkBody" id="bookMarkBody" style="background-color: transparent; padding: 0;">

            </div>
        </div>


    </li>
    <li class="sidebar_li" onclick="location.href='/project/myText'">
        <button type="button" class="btn btn-acd" style="width: 100%;  height: 20%;color: #fff">
            <i class="fa-solid fa-rectangle-list" style="color: #00B19c; margin-top: 3px; float:left"></i>
            내 게시물
        </button>
    </li>
    <li class="sidebar_li" onclick="location.href='/project/myComment'">
        <button type="button" class="btn btn-acd" style="width: 100%;  height: 20%; color: #fff">
            <i class="fa-solid fa-comments" style="color: #5e9dff; margin-top: 3px; float:left"></i>
            내 댓글
        </button>
    </li>
</ul>

<script>


    $(document).ready(function () {
        printBookMarkList()

    })


    function OnOffMark() {
        printBookMarkList()
        const up = document.getElementById('up')
        const down = document.getElementById('down')
        const listDiv = document.getElementById('bookMarkListDiv')
        if (down.style.display == 'unset') {

            console.log("열림")

            down.style.display = 'none'
            up.style.display = 'unset'
            listDiv.style.display = 'unset'

        } else if (down.style.display == 'none') {

            console.log("닫힘")
            up.style.display = 'none'
            down.style.display = 'unset'

            listDiv.style.display = 'none'
        }


    }


    function printBookMarkList() {
        console.log("bookMarkBody load")
        $('.bookMarkBody').empty()

        $.ajax({
            url: '/project/bookmarkList', //Controller에서 요청 받을 주소
            type: 'GET', //POST 방식으로 전달
            success: function (result) {
                if (result.length >= 1) {
                    console.log("bookMarkBody")


                    result.forEach(function (item) {
                        $('.bookMarkBody').append(
                            "<p class='sideBookmark'  ' " +
                            " onclick ='project(" + item.projectId + ")'>" + item.projectName + "</p>"
                        )
                    })
                }else{
                    $('.bookMarkBody').append(
                        "<p style=' '>비어있음</p>"
                    )
                }
            }

        })
    }

    function project(projectId) {
        location.href = "/project/" + projectId
    }


</script>
</body>
</html>
