<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>프로젝트 채팅방</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <link th:href="@{/css/chat/projectChatRoom.css}" rel="stylesheet"/>
</head>
<body>
<div class="wrap">
    <div id="slideMenu">
        <div class="slide_header">
        </div>
        <div class="slide_main">

            <div class="project_link_box">
                <p th:text="${projectName}" style="font-weight: bolder;color: #3064b3">
                </p>
            </div>

            <div class="slide_main_member_count">
                <p style="font-weight: bold">참여자<span id="userCountSpan" style="font-weight: lighter;color: grey" th:text="${userCount}"></span></p>
            </div>
            <div id="chatRoomUserListBox" class="slide_member_box">
                <div class="slide_member_box_li" th:each="chatRoomUser: ${chatRoomUserList}">
                    <div class="slide_member_box_li_imgBox">
                        <img th:src="${chatRoomUser.profilePhoto}">
                    </div>
                    <div class="slide_member_box_li_project_member">
                        <p th:text="${chatRoomUser.name}"></p>

                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-chat-dots" viewBox="0 0 16 16">
                            <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide_footer">

            <a onclick="leaveRoom()" class="exit_link" data-tooltip="채팅방 나가기">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="#3064b3"
                     class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd"
                          d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
            </a>
        </div>
    </div>
    <div id="overlay"></div>
    <header>
        <div class="header_title">
            <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" fill="#3064b3"
                 class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
            <div class="header_title_right">
                <p style="font-weight: bold" th:text="${roomName}"></p>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                         class="bi bi-person"
                         viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                    </svg>
                    <p id="userCountParagraph"style="font-size: 13px;font-weight: lighter;margin-left: 4px;font-weight: lighter" th:text="${userCount}"></p>
                </div>
            </div>

        </div>
        <div class="header_menu" id="toggleButton3">
<!--            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"-->
<!--                 viewBox="0 0 16 16">-->
<!--                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>-->
<!--            </svg>-->
            <svg id="toggleButton" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                 class="bi bi-list"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </div>
    </header>
    <main id="main">
        <div class="main_box" th:each="chat: ${chatList}" th:style="${chat.type ne 'TALK'} ? 'margin-bottom:20px;':'margin-bottom:20px;'">
            <div th:if="${chat.userId eq userDTO.id and chat.type eq 'TALK'}" class="chat_right">
                <div class="chat_right_message"><p th:text="${chat.message}"></p></div>
            </div>
            <div th:if="${chat.userId ne userDTO.id and chat.type eq 'TALK'}" class="chat_left">
                <div class="chat_left_img"><img th:src="@{${chat.profilePhoto}}"></div>
                <div class="chat_left_member">
                    <p class="chat_left_member_name" th:text="${chat.name}"></p>
                    <div class="chat_left_message"><p th:text="${chat.message}"></p></div>
                </div>
            </div>
            <div th:if="${chat.type eq 'ENTER'}" class="chat_middle">
                <div class="chat_middle_message">
                    <p th:text="${chat.message}"></p>
                </div>
            </div>
            <div th:if="${chat.type eq 'LEAVE'}" class="chat_middle">
                <div class="chat_middle_message">
                    <p th:text="${chat.message}"></p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div>
            <form id="messageForm">
                <textarea id="myTextarea" placeholder="줄바꿈 Shift + Enter / 입력 Enter 입니다."
                          oninput="checkInput()"></textarea>
                <button class="btn_send" type="submit" id="submitButton" disabled>전송</button>
            </form>

        </div>
    </footer>
</div>
<script th:inline="javascript">
    const textarea = document.getElementById("myTextarea");
    const submitButton = document.getElementById("submitButton");
    const slideMenu = document.getElementById("slideMenu");
    const toggleButton = document.getElementById("toggleButton");
    const body = document.body;
    const overlay = document.getElementById("overlay");
    const messageForm = document.getElementById('messageForm');
    const chatRoomId = /*[[ ${chatRoomId} ]]*/ ""
    const userDTO = /*[[ ${userDTO} ]]*/ ""
    const mainDiv = document.getElementById("main"); // main div의 id를 가져옵니다.
    mainDiv.scrollTop = mainDiv.scrollHeight; // 스크롤을 맨 아래로 이동합니다.
    //로드하면서 socket 설정
    window.onload = function () {
        const chatList = /*[[ ${chatList} ]]*/ ""
        slideMenu.style.right = "-330px";
        // 연결하고자하는 Socket 의 endPoint
        if (typeof SockJS !== 'undefined') {

            var socket = new SockJS('/ws-stomp');
            stompClient = Stomp.over(socket);
            var authToken = /*[[ ${authToken} ]]*/ "";
            stompClient.connect({}, onConnected, onError);
        } else {
            console.error('SockJS library is not loaded.');
        }
    };

    function onConnected() {
        // sub 할 url => /sub/chat/room/chatRoomId 로 구독한다
        stompClient.subscribe('/sub/chat/room/' + chatRoomId, onMessageReceived);

        // 서버에 username 을 가진 유저가 들어왔다는 것을 알림
        // /pub/chat/enterUser 로 메시지를 보냄
        stompClient.send("/pub/chat/enterUser",
            {},
            JSON.stringify({
                "chatRoomId": chatRoomId,
                type: 'ENTER',
                username: userDTO.username,
                name:userDTO.name,
                message:"님이 들어왔습니다.",
                id:userDTO.id,
                profilePhoto:userDTO.profilePhoto
            })
        )

    }

    function onError(error) {
        console.log('Could not connect to WebSocket server.')
    }


    function sendMessage(event) {
        let messageContent = textarea.value.trim();

        if (messageContent && stompClient) {
            let chatMessage = {
                "chatRoomId": chatRoomId,
                message: textarea.value,
                type: 'TALK',
                username: userDTO.username,
                name:userDTO.name,
                id:userDTO.id,
                profilePhoto:userDTO.profilePhoto
            };
            stompClient.send("/pub/chat/sendMessage", {}, JSON.stringify(chatMessage));

            let chatRightDiv = document.createElement("div");
            chatRightDiv.className = "chat_right";
            let chatRightMessageDiv = document.createElement("div");
            chatRightMessageDiv.className = "chat_right_message";
            let chatRightMessageParagraph = document.createElement("p");
            chatRightMessageParagraph.innerText = textarea.value;
            chatRightMessageDiv.appendChild(chatRightMessageParagraph);
            chatRightDiv.appendChild(chatRightMessageDiv);
            let mainBox = document.createElement("div");
            mainBox.className = "main_box";
            mainBox.appendChild(chatRightDiv);
            mainDiv.appendChild(mainBox)
            mainDiv.scrollTop = mainDiv.scrollHeight;
            textarea.value = '';
        }
        event.preventDefault();
    }

    function leaveRoom() {
        Swal.fire({
            text: "정말 채팅방을 나가시겠습니까?",
            confirmButtonText: "확인",
            showCancelButton: true,
            cancelButtonColor: '#d33',
            cancelButtonText: '취소',
            confirmButtonColor: '#3085d6',

        }).then((result) => {
            if (result.isConfirmed) {
                stompClient.send("/pub/chat/leaveUser",
                    {},
                    JSON.stringify({
                        "chatRoomId": chatRoomId,
                        type: 'LEAVE',
                        username: userDTO.username,
                        message:"님이 나갔습니다.",
                        name:userDTO.name,
                        id:userDTO.id,
                        profilePhoto:userDTO.profilePhoto
                    })
                )
            }
        });

    }

    function onMessageReceived(payload) {
        var message = JSON.parse(payload.body);
        var chatDTO = message.newChatDTO;

        if (chatDTO.type == "ENTER") {
            if (chatDTO.userId != userDTO.id) {
                let chatMiddleDiv = document.createElement("div");
                chatMiddleDiv.className = "chat_middle";
                let chatMiddleMessageDiv = document.createElement("div");
                chatMiddleMessageDiv.className = "chat_middle_message";
                let chatMiddleMessageParagraph = document.createElement("p");
                chatMiddleMessageParagraph.innerText = chatDTO.message;
                chatMiddleMessageDiv.appendChild(chatMiddleMessageParagraph);
                chatMiddleDiv.appendChild(chatMiddleMessageDiv);
                let mainBox = document.createElement("div");
                mainBox.className = "main_box";
                mainBox.appendChild(chatMiddleDiv);
                mainDiv.appendChild(mainBox)
                mainDiv.scrollTop = mainDiv.scrollHeight;
            }
            var userCount = message.userCount;
            var chatRoomUserList = message.chatRoomUserList;
            var userCountParagraph = document.getElementById('userCountParagraph');
            var userCountSpan = document.getElementById('userCountSpan');
            var chatRoomUserListBox = document.getElementById('chatRoomUserListBox');
            userCountParagraph.innerHTML = userCount;
            userCountSpan.innerHTML = userCount;
            chatRoomUserListBox.innerHTML = '';
            for (var chatRoomUser of chatRoomUserList) {
                $('#chatRoomUserListBox').append(
                    "<div class='slide_member_box_li'>"+
                        "<div class='slide_member_box_li_imgBox'>"+
                            "<img src='"+chatRoomUser.profilePhoto+"'>"+
                        "</div>"+
                        "<div class='slide_member_box_li_project_member'>"+
                            "<p>"+chatRoomUser.name+"</p>"+
                            "<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' className='bi bi-chat-dots' viewBox='0 0 16 16'>"+
                                "<path d='M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z'/>"+
                                "<path d='m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z'/>"+
                            "</svg>"+
                        "</div>"+
                    "</div>"
                );
            }

        }else if (chatDTO.type == "TALK") {
            // 채팅 데이터 추출
            if (chatDTO.userId != userDTO.id) {
                var sender = chatDTO.sender;
                var message = chatDTO.message;
                var profilePhoto = chatDTO.profilePhoto;

                // chat_left div 생성
                var chatLeftDiv = document.createElement("div");
                chatLeftDiv.className = "chat_left";

                // chat_left_img div 생성
                var chatLeftImgDiv = document.createElement("div");
                chatLeftImgDiv.className = "chat_left_img";

                // 프로필 사진 img 생성 및 설정
                var chatLeftImg = document.createElement("img");
                chatLeftImg.setAttribute("src", chatDTO.profilePhoto);
                chatLeftImgDiv.appendChild(chatLeftImg);

                // chat_left_member div 생성
                var chatLeftMemberDiv = document.createElement("div");
                chatLeftMemberDiv.className = "chat_left_member";

                // 채팅 참여자 이름 p 생성 및 설정
                var chatLeftMemberNameParagraph = document.createElement("p");
                chatLeftMemberNameParagraph.className = "chat_left_member_name";
                chatLeftMemberNameParagraph.innerText = chatDTO.sender;

                // chat_left_message div 생성
                var chatLeftMessageDiv = document.createElement("div");
                chatLeftMessageDiv.className = "chat_left_message";

                // 채팅 메시지 p 생성 및 설정
                var chatLeftMessageParagraph = document.createElement("p");
                chatLeftMessageParagraph.innerText = chatDTO.message;

                // 요소들을 계층적으로 추가
                chatLeftMessageDiv.appendChild(chatLeftMessageParagraph);
                chatLeftMemberDiv.appendChild(chatLeftMemberNameParagraph);
                chatLeftMemberDiv.appendChild(chatLeftMessageDiv);
                chatLeftDiv.appendChild(chatLeftImgDiv);
                chatLeftDiv.appendChild(chatLeftMemberDiv);

                let mainBox = document.createElement("div");
                mainBox.className = "main_box";
                mainBox.appendChild(chatLeftDiv);
                mainDiv.appendChild(mainBox);
                mainDiv.scrollTop = mainDiv.scrollHeight;
                // textarea.value = '';
            }
        }else{
            let chatMiddleDiv = document.createElement("div");
            chatMiddleDiv.className = "chat_middle";
            let chatMiddleMessageDiv = document.createElement("div");
            chatMiddleMessageDiv.className = "chat_middle_message";
            let chatMiddleMessageParagraph = document.createElement("p");
            chatMiddleMessageParagraph.innerText = chatDTO.message;
            chatMiddleMessageDiv.appendChild(chatMiddleMessageParagraph);
            chatMiddleDiv.appendChild(chatMiddleMessageDiv);
            let mainBox = document.createElement("div");
            mainBox.className = "main_box";
            mainBox.appendChild(chatMiddleDiv);
            mainDiv.appendChild(mainBox)
            mainDiv.scrollTop = mainDiv.scrollHeight;

            var userCount = message.userCount;
            var chatRoomUserList = message.chatRoomUserList;
            var userCountParagraph = document.getElementById('userCountParagraph');
            var userCountSpan = document.getElementById('userCountSpan');
            var chatRoomUserListBox = document.getElementById('chatRoomUserListBox');
            userCountParagraph.innerHTML = userCount;
            userCountSpan.innerHTML = userCount;
            chatRoomUserListBox.innerHTML = '';
            for (var chatRoomUser of chatRoomUserList) {
                $('#chatRoomUserListBox').append(
                    "<div class='slide_member_box_li'>"+
                    "<div class='slide_member_box_li_imgBox'>"+
                    "<img src='"+chatRoomUser.profilePhoto+"'>"+
                    "</div>"+
                    "<div class='slide_member_box_li_project_member'>"+
                    "<p>"+chatRoomUser.name+"</p>"+
                    "<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' className='bi bi-chat-dots' viewBox='0 0 16 16'>"+
                    "<path d='M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z'/>"+
                    "<path d='m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z'/>"+
                    "</svg>"+
                    "</div>"+
                    "</div>"
                );
            }

            if (message.userId == userDTO.id) {
                stompClient.unsubscribe('/sub/chat/room/' + chatRoomId);
                stompClient.disconnect();
                window.close();
            }

        }


    }


    messageForm.addEventListener('submit', sendMessage, true)

    toggleButton.addEventListener("click", function (event) {
        event.stopPropagation(); // 이벤트 전파 중단
        openSlideMenu();
    });

    // 슬라이드 메뉴 외부 클릭 이벤트 등록
    document.body.addEventListener("click", function (event) {
        const slideMenu = document.getElementById("slideMenu");
        const isClickedInsideMenu = slideMenu.contains(event.target);

        if (!isClickedInsideMenu) {
            closeSlideMenu();
        }
    });

    function openSlideMenu() {
        let testNum = /*[[ ${width} ]]*/ "";

        slideMenu.style.right = slideMenu.style.right === "-330px" ? "0" : "-330px";
        overlay.style.display = "block"; // 레이어 표시
    }

    function closeSlideMenu() {
        // 슬라이드 메뉴를 닫는 동작 수행
        slideMenu.style.right = "-330px";
        overlay.style.display = "none"; // 레이어 숨김
    }

    //Shif Enter 줄바꿈
    textarea.addEventListener("keydown", function (event) {
        if (event.key === "Enter" && !event.shiftKey) {
            event.preventDefault(); // 기본 엔터 동작 제거
            document.getElementById("submitButton").click(); // 전송 버튼 클릭
        }
        if (event.key === "Enter" && event.shiftKey) {
            event.preventDefault();
            const currentValue = this.value;
            this.value = currentValue + "\n";
        }
    });

    //버튼 비활성화
    function checkInput() {

        if (textarea.value.trim() !== "") {
            submitButton.disabled = false;
        } else {
            submitButton.disabled = true;
        }
        autoResize(textarea)
    }

    function autoResize(textarea) {
        textarea.style.height = "auto"; // 초기 높이로 설정하여 높이를 재조정하기 위해 초기화

        // 스크롤 높이와 컨텐츠 높이 비교하여 크기 조정
        textarea.style.height = textarea.scrollHeight + "px";
    }
</script>
</body>
</html>
