<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org" lang="ko"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <!-- 내 css  -->
  <link rel="stylesheet" href="/css/memberManagement.css"></head>
<body>
<div layout:fragment="content" >

  <div class="container " style="content-align: center; margin: 2%;">
    <h1 class="title">프로필</h1>
    <div class="row mb-5" style="justify-content: right">
      <button class="btn-orange">정보수정</button>
    </div>
    <div class="row ">

      <div class="col" style="float: left">
        <div class="row" style="justify-content: center;">



          <div id="image_container" class="userImg" ><img id = "image-show" class="userImg" src="/img/user.jpg" ></div>
        </div>
        <div class="row"   style="justify-content: center;"  >
          <input style="    text-align-last: center;" type="file" id="image" accept="image/*" onchange="setThumbnail(event);"/>
        </div>
      </div>
      <div class="col" >

        <div>

          <div class="memberInfo row" style="float:left;">

            <div class="col" style="    display: flex;">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#303030 " class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
              </svg>
            </div>
            <div class="col">
              <p>sssss</p>
            </div>
          </div>
        </div>
        <div>

          <div class="memberInfo row" style="float:left;">

            <div class="col" style="    display: flex;">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#303030" class="bi bi-building-fill" viewBox="0 0 16 16">
                <path d="M3 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3v-3.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V16h3a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H3Zm1 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Z"/>
              </svg>
            </div>
            <div class="col">
              <p>sssss</p>
            </div>
          </div>
        </div>
        <div>
          <div class="memberInfo row" style="float:left;">

            <div class="col" style="    display: flex;">
              <svg xmlns="http://www.w3.org/2000/svg"  style="" width="50" height="50" fill="#303030" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
              </svg>
            </div>
            <div class="col">
              <p>sssss</p>
            </div>
          </div>

        </div>
        <div class="memberInfo row" style="float:left;">
          <div class="col" style="    display: flex;">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#303030" class="bi bi-envelope-paper-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6.5 9.5 3 7.5v-6A1.5 1.5 0 0 1 4.5 0h7A1.5 1.5 0 0 1 13 1.5v6l-3.5 2L8 8.75l-1.5.75ZM1.059 3.635 2 3.133v3.753L0 5.713V5.4a2 2 0 0 1 1.059-1.765ZM16 5.713l-2 1.173V3.133l.941.502A2 2 0 0 1 16 5.4v.313Zm0 1.16-5.693 3.337L16 13.372v-6.5Zm-8 3.199 7.941 4.412A2 2 0 0 1 14 16H2a2 2 0 0 1-1.941-1.516L8 10.072Zm-8 3.3 5.693-3.162L0 6.873v6.5Z"/>
            </svg>
          </div>
          <div class="col">
            <p>sssss</p>
          </div>

        </div>


      </div>


    </div>


  </div>


</div>

</body>

<script>


  function setThumbnail(event) {
    var reader = new FileReader();

    reader.onload = function(event) {
      var img = document.getElementById("image-show")
      img.setAttribute("src", event.target.result);
      document.querySelector("div#image_container").appendChild(img);
    };

    reader.readAsDataURL(event.target.files[0]);
  }
</script>
</html>
