<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org" lang="ko"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>UserInfo</title>
    <!-- 내 css  -->
    <link th:href="@{/css/injoyMain.css}" rel="stylesheet"/>


    <script th:src="@{/js/user/userInfo.js}" defer></script>

</head>
<body>
<div layout:fragment="content">

    <div class="container " style="content-align: center; padding: 2%;">
        <h1 class="title">프로필</h1>
        <div class="row mb-5" style="justify-content: right">
            <button class="btn-orange" type="button" style="width: 85px;height: 30px;" data-toggle="modal"
                    data-target="#memberModal">정보수정
            </button>
        </div>
        <div class="row ">

            <div class="col" style="float: left ;margin-bottom: 50px">
                <div class="row" style="justify-content: center;">


                    <div id="profile_container" class="memberImgDiv">
                        <img id="profile" class="memberImgDiv" th:src="@{${logIn.profilePhoto}}" ,
                            >
                    </div>
                </div>

                <div class="row" style="justify-content: center;">
                    <div class="task-tooltip" style=" text-align: center; min-width: 250px;   min-height: 30px;">
                        <div th:text="${logIn.condition  != null ? logIn.condition: '상태를 입력해주세요'}"></div>
                    </div>
                </div>
            </div>
            <div class="col" style="    text-align: -webkit-center;">


                <div class="memberInfo row">

                    <div class="col" style="    display: flex;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#303030 "
                             class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                        </svg>
                    </div>
                    <div class="col">
                        <p class="contentText" th:text="${logIn.getName() != null ? logIn.name: '이름을 입력해주세요'}"></p>
                    </div>
                </div>


                <div class="memberInfo row">

                    <div class="col" style="    display: flex;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#303030"
                             class="bi bi-building-fill" viewBox="0 0 16 16">
                            <path d="M3 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3v-3.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V16h3a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H3Zm1 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Z"/>
                        </svg>
                    </div>
                    <div class="col">
                        <p class="contentText" th:text="${logIn.organId !=  0 ? logIn.organName: '조직을 설정해주세요' }"></p>
                    </div>
                </div>


                <div class="memberInfo row">

                    <div class="col" style="    display: flex;">
                        <svg xmlns="http://www.w3.org/2000/svg" style="" width="50" height="50" fill="#303030"
                             class="bi bi-telephone-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                        </svg>
                    </div>
                    <div class="col">
                        <p class="contentText"
                           th:text="${logIn.getPhoneNumber() != null ? logIn.getPhoneNumber: '전화번호를 입력해주세요'}"></p>
                    </div>
                </div>


                <div class="memberInfo row">
                    <div class="col" style="    display: flex;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#303030"
                             class="bi bi-envelope-paper-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M6.5 9.5 3 7.5v-6A1.5 1.5 0 0 1 4.5 0h7A1.5 1.5 0 0 1 13 1.5v6l-3.5 2L8 8.75l-1.5.75ZM1.059 3.635 2 3.133v3.753L0 5.713V5.4a2 2 0 0 1 1.059-1.765ZM16 5.713l-2 1.173V3.133l.941.502A2 2 0 0 1 16 5.4v.313Zm0 1.16-5.693 3.337L16 13.372v-6.5Zm-8 3.199 7.941 4.412A2 2 0 0 1 14 16H2a2 2 0 0 1-1.941-1.516L8 10.072Zm-8 3.3 5.693-3.162L0 6.873v6.5Z"/>
                        </svg>
                    </div>
                    <div class="col">
                        <p class="contentText" th:text="${logIn.email != null ? logIn.email: '이메일을 입력해주세요'}"></p>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="memberModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 125%">
                <form action="/user/updateInfo" method="post" onsubmit="" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title">정보 수정</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>


                    </div>
                    <div class="modal-body scrollDiv" style="height: 700px;overflow-y: scroll  ">
                        <div class="row mt-3 mb-3" style="justify-content: center; ">
                            <div class="col-md-10">
                                <div class="col" style="float: left">
                                    <div class="row contentText">사진</div>
                                    <div class="row mb-3" style="justify-content: center;">


                                        <div id="image_container" class="memberImgDiv"><img id="image-show"
                                                                                            class="memberImgDiv"
                                                                                            th:src="@{${logIn.profilePhoto}}"
                                                                                            onerror=this.src="/img/user.jpg">
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 5px;justify-content: center;">
                                        <input style="  text-align-last: center;" type="file" id="profilePhoto"
                                               name="file"
                                               accept="image/*"
                                               onchange="toBase64(event);"/>

                                    </div>
                                    <div class="row contentText"> 상태</div>
                                    <div class="row mb-5" style="justify-content: center;">
                                        <div class="task-tooltip" style="text-align-last: center;">
                                            <input type="text" class="form-control"
                                                   style="background: none;border: none;" id="condition"
                                                   name="condition" th:value="${logIn.getCondition()}"
                                                   placeholder="상태를 입력해주세요">
                                        </div>
                                    </div>
                                    <div class="row contentText"> 이름</div>
                                    <div class="row">

                                        <div class="memberInfo row" style="float:left;">

                                            <div class="col-md-3" style="    display: flex;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                                                     fill="#303030 "
                                                     class="bi bi-person-fill" viewBox="0 0 16 16">
                                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                                                </svg>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="name"
                                                       name="name" th:value="${logIn.getName()}"
                                                       placeholder="이름을 입력해주세요">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row contentText"> 조직명</div>
                                    <div class="row">

                                        <div class="memberInfo row" style="float:left;">

                                            <div class="col-md-3" style="    display: flex;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                                                     fill="#303030"
                                                     class="bi bi-building-fill" viewBox="0 0 16 16">
                                                    <path d="M3 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3v-3.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V16h3a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H3Zm1 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Z"/>
                                                </svg>
                                            </div>
                                            <div class="col-md-9">
                                                <select class="form-select" id="organId" name="organId">
                                                    <option selected th:value="${logIn.organId}"
                                                            th:text="${logIn.organId != 0 ? logIn.organName: '조직을 선택해 주세요' }"></option>
                                                    <option th:each="organ : ${organList}"
                                                            th:value="${organ.organId}"
                                                            th:text="${organ.organName}"></option>

                                                </select>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="row contentText"> 조직 추가</div>
                                    <div class="row">
                                        <div class="memberInfo row" style="float:left;">
                                            <div class="col-md-10">
                                                <input type="text" class="form-control " oninput="checkOrganName()"
                                                       id="newOrgan"
                                                       placeholder="조직명">
                                                <span class="mt-1" id="existOrganName"
                                                      style="color: #F5544D; display: none">이미 등록된 조직이름입니다.</span>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn btn-orange" type="button" onclick="addCompany()">추가
                                                </button>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="row contentText"> 전화</div>
                                    <div class="row">
                                        <div class="memberInfo row" style="float:left;">

                                            <div class="col-md-3" style="    display: flex;">
                                                <svg xmlns="http://www.w3.org/2000/svg" style="" width="50" height="50"
                                                     fill="#303030"
                                                     class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                          d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                                </svg>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="phoneNum" maxlength="13"
                                                       name="phoneNumber" th:value="${logIn.getPhoneNumber()}"
                                                       placeholder="번호를 입력해주세요">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row contentText"> 이메일</div>
                                    <div class="row">
                                        <div class="memberInfo row" style="float:left;">
                                            <div class="col-md-3" style="    display: flex;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                                                     fill="#303030"
                                                     class="bi bi-envelope-paper-fill" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                          d="M6.5 9.5 3 7.5v-6A1.5 1.5 0 0 1 4.5 0h7A1.5 1.5 0 0 1 13 1.5v6l-3.5 2L8 8.75l-1.5.75ZM1.059 3.635 2 3.133v3.753L0 5.713V5.4a2 2 0 0 1 1.059-1.765ZM16 5.713l-2 1.173V3.133l.941.502A2 2 0 0 1 16 5.4v.313Zm0 1.16-5.693 3.337L16 13.372v-6.5Zm-8 3.199 7.941 4.412A2 2 0 0 1 14 16H2a2 2 0 0 1-1.941-1.516L8 10.072Zm-8 3.3 5.693-3.162L0 6.873v6.5Z"/>
                                                </svg>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="email"
                                                       name="email" th:value="${logIn.email}"
                                                       placeholder="email을 입력해주세요">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row contentText"> 비밀번호</div>
                                    <div class="row">
                                        <div class="memberInfo row" style="float:left;height: auto;padding-top: 15px;padding-bottom: 15px">
                                            <div class="col-md-3" style="    display: flex;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                                                     fill="#303030"
                                                     class="bi bi-lock-fill" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                          d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                                                </svg>
                                            </div>
                                            <div class="col-md-9" style="display: flex;flex-direction: column">
                                                <button class="btn btn-orange" type="button" onclick="openRePasswordBox()" style="width: 150px">비밀번호 재설정</button>
                                                <div id="rePasswordBox" style="display: none">
                                                    <div style="display: flex; flex-direction: column;font-size: 13px;margin-top: 15px">
                                                        <p style="display: flex;justify-content: left;margin: 0">비밀번호는 영문,숫자,특수문자 포함 8자리 이상이어야 합니다.</p>
                                                        <div class="rePasswordBoxLi">
                                                            <label>현재 비밀번호</label><input id="currentPassword"class="form-control" type="password" placeholder="현재 비밀번호를 입력해주세요." style="font-size: 13px">
                                                        </div>
                                                        <div class="rePasswordBoxLi">
                                                            <label>새 비밀번호</label><input id="newPassword" class="form-control" type="password" placeholder="새 비밀번호를 입력해주세요." style="font-size: 13px">
                                                        </div>
                                                        <div class="rePasswordBoxLi">
                                                            <label>비밀번호 확인</label><input id="newPasswordConfirm" class="form-control" type="password" placeholder="비밀번호를 다시 입력해주세요." style="font-size: 13px">
                                                        </div>
                                                        <div class="rePasswordBoxBtn" style="display: flex;flex-direction: row">
                                                            <button  class="btn rePasswordBoxCancleBtn" type="button" onclick="closeRePasswordBox()">취소</button>
                                                            <button class="btn btn-orange" type="button" onclick="resetPassword()">확인</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-orange">수정</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



</div>

</body>


</html>
