.allFile-header{
    position: fixed;
    padding: 30px 20px;
    background-color: #FFFFFF;
    width: inherit;
    min-width: 750px;
    height: 130px;
    z-index: 20;
}
.allFile-title{
    font-size: 23px;
    font-weight: bold;
}

.allFile-content-area{
    padding: 30px 20px;
}
