.allFile-header{
    position: fixed;
    padding: 30px 20px;
    background-color: #FFFFFF;
    width: inherit;
    min-width: 750px;
    height: 130px;
    z-index: 0;
}
.allFile-title{
    font-size: 23px;
    font-weight: bold;
}
.allFile-total{
    margin-top: 30px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}
.allFile-content-area{
    padding: 30px 20px;
}
