@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular', serif;

    border-collapse: collapse;
}

/*캘린더 사이즈*/
#calendarBox {
    width: 90%;
    height: 90%;
}

/*캘린더 스크롤 없애기*/
.fc-scroller {
    overflow-y: hidden !important;
}


#scheduleTitle {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 60px;
}

#scheduleTitle::placeholder {
    font-size: 20px;
    font-weight: bold;
}

/*.writeScheduleContent {*/
/*    width: 434px;*/
/*    min-height: 200px;*/
/*    border: none;*/
/*}*/
#writeScheduleContent {
    border: 2px solid blue;
    resize: none;
    border-radius: 5px;
}

#modifyScheduleTitle {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 60px;
}

#modifyScheduleTitle::placeholder {
    font-size: 20px;
    font-weight: bold;
}

#modifyWriteScheduleContent {
    border: 2px solid blue;
    resize: none;
    border-radius: 5px;
}


/*캘린더 이벤트 폰트 설정*/
.fc-event {
    font-weight: bold;
}


/* Google autocomplete z-index css*/
.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}

.modal {
    z-index: 20;
}

.modal-backdrop {
    z-index: 10;
}


/*여기서부터 옆 슬라이드 CSS*/
.show-header-cart {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.6);
}

.show-header-cart .header-cart {
    right: 0;
}

.wrap-header-cart {
    position: fixed;
    z-index: 1100;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.0);
    visibility: hidden;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.header-cart {
    position: fixed;
    z-index: 1100;
    /*width: 390px;*/
    /*width: 500px;*/
    width: 600px;
    max-width: calc(100% - 30px);
    height: 100vh;
    top: 0;
    right: -600px;
    background-color: #fff;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.34s;
    transition: all 0.4s;

    box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -o-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -ms-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
}

.header-cart::after {
    content: "";
    display: block;
    width: 100%;
    height: 9%;
    min-height: 30px;
}

.show-header-cart {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.6);
}

.show-header-cart .header-cart {
    right: 0;
}

/*.header-cart::-webkit-scrollbar { !* 스크롤 없애기 *!*/
/*    display: none;*/
/*}*/


.cal2 {
    display: inline-block;
    background-color: #FFF;
    width: 105px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.cal2 {
    height: 30px;
    line-height: 30px;
    font-size: 0.75rem;
    text-transform: uppercase;
    background-color: #FFF;
    color: #00B19c;
    font-weight: 800;
}

.cal2 .date2 {
    font-size: 1em;
    font-weight: bold;
    color: black;
    line-height: 30px;
    background-color: #eeeeee;
}

.date2 {
    border-radius: 5px;
}


/*google map img size*/
#mapImagee {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

#mapImageeM {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


/*캘린더 사진*/
.cal {
    display: inline-block;
    background-color: #FFF;
    width: 70px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.cal .month {
    height: 30px;
    line-height: 30px;
    font-size: 0.75rem;
    text-transform: uppercase;
    background-color: #FFF;
    color: #00B19c;
    font-weight: 800;
}

.cal .date {
    font-size: 2rem;
    font-weight: bold;
    color: #FFF;
    line-height: 44px;
    background-color: #00B19c;
}

.date {
    border-radius: 0 0 10px 10px;
}

.month {
    border: 1px solid #CCCAC5;
    border-radius: 10px 10px 0 0;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: start;
}


/*                      댓글창                          */
.comment-input-wrap {
    overflow: hidden;
    padding: 14px 30px;
}

.comment-input-wrap p {
    font-size: 14px;
    color: #555;
}

.user-profile-thumbnail {
    width: 40px;
    float: left;
}

.thumbnail.size40.radius16 {
    border-radius: 16px;
    cursor: default;
}

.thumbnail.size40 {
    width: 40px;
    height: 40px;
}

.thumbnail {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    border: 1px solid #eee;
    box-sizing: border-box;
    vertical-align: middle;
}

.comment-container {
    display: block;
    float: left;
    position: relative;
    width: calc(100% - 50px);
    margin-left: 10px;
    box-sizing: border-box;
}

.commentInput {
    width: 100%;
    padding: 11px 75px 11px 20px;
    min-height: 40px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    color: #555;
    word-break: break-word;
    white-space: pre-wrap;
    cursor: text;
}

/*                      댓글창                          */


#commentDelnModi {
    display: flex;
    flex-direction: row;
}

#slideee::-webkit-scrollbar {
    display: none;
}


