.content-none-area{
    margin: 0 0 15px 0;
}

.none-title{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    height: 30px;
    box-sizing: border-box;
}

.none-title h4{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 700;
    color: #333;
}

.none-content{
    text-align: center;
    margin: 60px auto;
}

.none-text {
    margin-top: 22px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -.02em;
    color: #999;
}

.project-content{
    width: 80%;
}

.boardBox{
    width: 100%;
    overflow: hidden;
    margin: 15px 30px;
    border : 1px solid #777;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, .04);
    cursor: pointer;
}

.comment-input-wrap {
    overflow: hidden;
    padding: 14px 30px;
}

.comment-input-wrap p {
    font-size: 14px;
    color: #555;
}

.user-profile-thumbnail{
    width: 40px;
    float: left;
}

.thumbnail.size40.radius16{
    border-radius: 16px;
    cursor: default;
}

.thumbnail.size40{
    width: 40px;
    height: 40px;
}

.thumbnail {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    border: 1px solid #eee;
    box-sizing: border-box;
    vertical-align: middle;
}

.comment-container{
    display: block;
    float: left;
    position: relative;
    width: calc(100% - 50px);
    margin-left: 10px;
    box-sizing: border-box;
}

.commentInput {
    width: 100%;
    padding: 11px 75px 11px 20px;
    min-height: 40px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    color: #555;
    word-break: break-word;
    white-space: pre-wrap;
    cursor: text;
}

.commentBtn{
    background-color: #001542 !important;
    color: white !important;
    border-radius: 20px;
}

.currentMember-chatting{
    overflow: hidden;
    margin-top: 10px;
    padding-top: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #fff;
    box-sizing: border-box;
}

.currentMember{
    overflow: auto;
    max-height: -webkit-calc(100vh - 303px);
    max-height: calc(100vh - 303px);
    padding: 0 20px;
}

.chatMenu{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-top: 1px solid #ddd;
    background: #f9f9f9;
    font-size: 13px;
    text-align: center;
}

.chatBtn {
    border: 1px solid #ddd;
    display: inline-block;
    width: 100%;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.boardHeader{
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0;
    background: #fff;
    border-radius: 10px;
}

.writerInfo{
    -webkit-box-flex: 1;
    flex: 1;
    display: flex;
    float: initial;
    width: calc(100% - 77px);
}

.post-option .toolBtn {
    margin: -1px 0 0 20px;
}
.toolBtn {
    padding: 4px 8px;
    margin: 1px 7px 0 30px;
    vertical-align: middle;
    cursor: pointer;
}

.post-option .setUp-group {
    overflow: hidden;
    position: absolute;
    z-index: 12;
    top: 30px;
    right: 10px;
    background: #fff;
    border: 1px solid #555;
    box-sizing: border-box;
    border-radius: 6px;
}

.setUp-group {
    padding: 4px 0;
}

.setUp-group>li {
    position: relative;
    white-space: nowrap;
}

.setUp-group li a {
    display: flex;
    margin: 5px 0;
    height: 19px;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 14px;
    line-height: 19px;
    font-size: 13px;
    color: #555;
}

.setUp-group svg {
    display: inline-block;
    margin: 0 6px 0 0;
    vertical-align: middle;
}

@media (max-width: 1650px) {
    .home-process-btn {
        min-width: 70px !important;
    }
}

@media (max-width: 1560px) {
    .home-process-btn {
        min-width: 60px !important;
    }
}

.post-container {
    padding: 10px 30px 0;
    background: #fff;
}

.img-container-task, .img-container-board, .file-container-board, .file-container-task {
    padding: 10px 20px 20px;
    background: #fff;
}

.post-board-content{
    font-size: 14px;
    word-break: break-word;
    line-height: 25px;
    color: #333;
    padding: 10px 0;
}

.taskReportArea{
    width: 80%;
    overflow: hidden;
    margin: 0 30px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, .04);
    cursor: pointer;
}

.reports-section {
    position: relative;
    border: solid 1px #ddd;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.04);
    box-shadow: 0 0 15px rgba(0,0,0,.04);
}
.detail-section {
    margin: 0 0 15px 0;
}

.reports-section .section-title-area {
    padding: 0 20px;
    border-radius: 6px;
    cursor: pointer;
}

.section-title-area {
    height: 42px;
    background: #fff;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.section-title span {
    display: inline-block;
    vertical-align: middle;
}

.section-number {
    position: relative;
    margin: 1px 0 0 1px;
    color: #999;
    font-size: 17px;
    font-weight: 700;
}

.reports-section {
    position: relative;
    border: solid 1px #ddd;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0,0,0,.04);
}
.detail-section {
    margin: 0 0 15px 0;
}

.reports-section .section-title {
    float: left;
}
.section-title {
    font-size: 15px;
    font-weight: 700;
    color: #333;
}

.reports-button.off {
    transform: rotate(-180deg);
}

.reports-button {
    margin-left: auto;
}

.task-report {
    height: auto;
    padding: 5px 0 25px;
    border-top: none;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: #fff;
    text-align: center;
    border-radius: 0 0 6px 6px;
}

.donut-chart-area {
    position: relative;
    cursor: pointer;
}

.task-count {
    position: absolute;
    top: 55%;
    left: 50%;
    font-weight: 700;
    font-size: 19px;
    color: #555;
    transform: translate(-50%,-50%);
}

ul, li, span{
    padding: 0;
    margin: 0;
}

.donut-chart-list {
    position: relative;
    top: -2px;
    margin-left: 35px;
    text-align: left;
}

.task-chart-info+.task-chart-info {
    margin-left: 16px;
}
.donut-chart-list .task-chart-info {
    display: inline-block;
    min-width: 100px;
    /*padding: 3px 0;*/
    background: #fff;
    color: #555;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.donut-chart-list li+li {
    margin: 10px 0 0 0;
}

.task-chart-info.request .chart-info-label {
    background: #00b2ff;
}
.task-chart-info.progress .chart-info-label {
    background: #00b01c;
}
.task-chart-info.feedback .chart-info-label {
    background: #fd7900;
}
.task-chart-info.complete .chart-info-label {
    background: #402a9d;
}
.task-chart-info.hold .chart-info-label {
    background: #777;
}


.chart-info-label {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 6px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.task-chart-info.request .chart-info-percent {
    color: #00b2ff;
}

.task-chart-info.progress .chart-info-percent {
    color: #00b01c;
}

.task-chart-info.feedback .chart-info-percent {
    color: #fd7900;
}

.task-chart-info.complete .chart-info-percent {
    color: #402a9d;
}

.task-chart-info.hold .chart-info-percent {
    color: #777;
}


.chart-info-percent {
    margin-left: 6px;
}

.show-comment{
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    background: #f9f9f9;
}

.comment-header {
    padding: 0 30px 0 30px;
    border-top: 1px solid #ddd;
}

.comment-more-button.on {
    display: block;
    margin-top: 10px;
}

.comment-more-button {
    /*display: none;*/
    font-size: 13px;
    color: #777;
    font-weight: 700;
    cursor: pointer;
}

.post-comment-group {
    padding: 0;
    margin: 0;
    color: #555;
}

.post-comment-group>li:first-child {
    padding-top: 20px;
}
.post-comment-group>li {
    display: flex;
    margin-top: -1px;
    padding: 10px 30px;
    border-bottom: 1px solid #eee;
    background-color: #eee;
}

.comment-thumbnail {
    width: 40px;
}

.comment-container.on {
    display: block;
}
.comment-container {
    /*display: none;*/
    position: relative;
    width: calc(100% - 50px);
    margin-left: 10px;
    box-sizing: border-box;
}
.comment-container, .comment-thumbnail, .comment-user {
    float: left;
}

.comment-user-area {
    width: 100%;
    line-height: 21px;
}

.comment-user span {
    display: inline-block;
    max-width: 260px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.record-date {
    margin-top: -2px;
    font-size: 14px;
    color: #999;
}

.comment-writer-menu {
    float: right;
}

.comment-writer-button.on {
    display: inline-block;
}

.comment-writer-button {
    font-size: 14px;
    color: #999;
    cursor: pointer;
    display: none;
}

.hidden-comment {
    display: none !important;
}

.comment-user-area::after {
    display: block;
    content: "";
    clear: both;
}

.post-calendar-date {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px 0;
    background: #fff;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    justify-content: flex-start;

}

.post-calendar-date .calendar-date {
    display: table-cell;
    height: 74px;
    overflow: hidden;
    margin: 5px 20px 5px 0;
    width: 68px;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    background: #00b19c;
    text-align: center;
    vertical-align: middle;
}

.calendar-month {
    display: block;
    padding: 11px 0 5px;
    font-size: 12px;
    line-height: 1.2;
    color: #00b19c;
    background: #fff;
}

.post-title-area {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    flex: 1;
    width: 100%;
}

.calendar-day {
    display: block;
    font-size: 28px;
    line-height: 1.4;
    color: #fff;
}

.calendar-title {
    padding-left: 20px;
    vertical-align: middle;
}

.calendar-period-area {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.post-calendar-place{
    font-size: 14px;
    word-break: break-word;
    line-height: 25px;
    color: #333;
    padding: 10px 0 0;
}

.preview-map-home{
    overflow: hidden;
    position: relative;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
}

#homeMapView {
    margin-top: 10px;
}

#homeMapView img {
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    max-height: 300px;
    object-position: 0 15%;
    object-fit: cover;
}