.boardBox{
    width: 70%;
    overflow: hidden;
    margin: 15px 30px;
    border : 1px solid #777;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, .04);
    cursor: pointer;
}

.commentBox {
    overflow: hidden;
    padding: 14px 30px;
}

.commentBox p {
    font-size: 14px;
    color: #555;
}

.boardDate {
    font-size: 12px;
    color: #555;
}

.comment-thumbnail {
    width: 40px;
    padding: 0px 12px;
}

.commentInput {
    width: 340px !important;
    height: 38px !important;
    vertical-align: center;
    padding: 6px 12px;
}

.commentBtn{
    background-color: #001542 !important;
    color: white !important;
    border-radius: 20px;
}