.taskAddButton{
    margin: auto;
    display: inline-block;
    color: white !important;
    background-color: #3064B3 !important;
    --bs-btn-bg: #3064B3 ;
    --bs-btn-border-color : #3064B3 ;
    --bs-btn-hover-bg : #001542;
    --bs-btn-hover-border-color : #001542;
    --bs-btn-active-bg : #001542;
    --bs-btn-active-border-color : #001542;
    --bs-btn-disabled-bg : #3064B3;
    --bs-btn-disabled-border-color : #3064B3 ;
    border-radius: 5px;

}

.btnBlue {
    background: #3064B3;
}

.btnFade.btnBlue:hover {
    background: #001542;
}

.addButton {
    display: inline-block;
    position: relative;
    float: right;
    width: 100px;
    height: 38px;
    padding: 0;
    margin: auto;
    font-weight: 600;
    text-align: center;
    line-height: 38px;
    color: #FFF;
    border-radius: 10px;
    transition: all 0.2s ;
}


.searchInput{
    text-align: center;
}

.searchIcon {
    position: absolute;
    top: 7px;
    left: 30px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none!important;
    cursor: pointer;
}

.searchIcon svg {
    width: 20px;
    height: 20px;
    fill: #5a6674;
}

#taskAddTitle {
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.5);
    width: 100%;
    height: 60px;
}

#taskAddTitle::placeholder {
    font-size: 20px;
    font-weight: bold;
}

.taskProcessBtn {
    display: inline-flex !important;
    height: 30px;
    border-radius: 30px !important;
    color: rgba(119, 119, 119, 0.62) ;
    font-size: 15px !important;
    background-color: #eeeeee !important;
    align-items: center;
    justify-content: start !important;
    margin-left: 2px;
}

.writeTaskContent{
    width: 434px;
    min-height: 200px;
    border: none;
}

.requestBtn:focus, .requestBtn.active{
    background-color: #00B2FF !important;
    color: white !important;
}

.progressBtn:focus, .progressBtn.active {
    background-color: #00B01C !important;
    color: white !important;
}

.feedBackBtn:focus, .feedBackBtn.active {
    background-color: #FD7900 !important;
    color: white !important;
}

.finishBtn:focus, .finishBtn.active {
    background-color: #402A9D !important;
    color: white !important;
}

.holdBtn:focus, .holdBtn.active {
    background-color: #777777 !important;
    color: white !important;
}

td {
    vertical-align: middle !important;
}

tr:hover td{
    background: rgba(48, 100, 179, 0.51) !important;
    color:#FFFFFF;
}

td:hover {
    border: 3px solid #3064B3 !important;
}

.detail {
    text-decoration: underline !important;
    margin-top: 3px !important;
    color: rgba(48, 100, 179, 0.82) !important;
    margin-right: 20px;
}

.detail:hover {
    color: #001542 !important;
}

.button_process {
    z-index: 10;
    padding: 9px 13px;
    background-color: white;
    border: 1px solid #777777;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 15%);
    border-radius: 4px;
    text-align: center;
    list-style: none;
}

.currentBtn {
    width: 80px !important;
    height: 30px !important;
    color: white !important;
    border-radius: 20px !important;
    line-height: 20px !important;
}

.changeBtn {
    width: 80px !important;
    height: 30px !important;
    color: white !important;
    border-radius: 20px !important;
    line-height: 20px !important;
}

.button_priority{
    width: 80px;
    z-index: 1;
    padding: 9px 8px;
    background-color: white;
    border: 1px solid #777777;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 15%);
    border-radius: 4px;
    text-align: center;
    list-style: none;
}

.button_priority li{
    color: black !important;
}

.priorityBtn {
    border : none !important;
    background-color: white !important;
    font-size: 15px!important;
}

.progress-item {
    display: flex;
    align-items: center;
}

.progress-item .progress-bar {
    background-color: #ddd;
}

.progress-bar {
    margin-top: 0;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    max-width: 70%;
    height: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /*background: #eee;*/
    text-align: left;
}

.progress-bar span{
    display: inline-block;
    height: 4px;
    background: #00b01c;
    vertical-align: top;
}

.progress-percent-num {
    min-width: 28px;
    margin-left: 3px;
    font-weight: 400;
    font-size: 11px;
    color: #333;
    text-align: center;
}

.button_progress{
    z-index: 100;
    padding: 12px;
    background: #fff;
    border: 1px solid #777;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0,0,0,.15);
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.button_progress button {
    border: none !important;
    background-color: transparent !important;
    display: block;
    width: 100%;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #555;
}

.startDate:hover{
    background-color: transparent !important;
}

.endDate:hover{
    background-color: transparent !important;
}

tr:hover td>#startDate{
    color: white !important;
    background-color: transparent !important;
}

tr:hover td>#endDate{
    color: white !important;
    background-color: transparent !important;
}

#startDate{
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
    height: 50px !important;
}

#endDate{
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
    height: 50px !important;
}

td:hover > #startDate:hover {
    background-color: rgba(48, 100, 179, 0.51) !important;
    color: white !important;
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
}

td:hover > #endDate:hover  {
    background-color: rgba(48, 100, 179, 0.51) !important;
    color: white !important;
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}


.managerDiv {
    position: absolute;
    width: 280px;
    height: 360px;
    background-color: white;
    border : 1px solid #777777;
    box-sizing: border-box;
    box-shadow: 2px 2px 6px rgb(0, 0,0, .15);
    border-radius: 6px;
    z-index: 6;
}

.searchManagerIcon{
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 24px;
    left: 10px;
    transform: translateY(-50%);
}

.searchManagerInput{
    width: 100%;
    height: 34px;
    background: #fff;
    border: 1px solid #777;
    box-sizing: border-box;
    box-shadow: 2px 2px 6px rgba(0,0,0,.15);
    border-radius: 4px;
    padding-left: 34px;
    color: #3064B3;
    font-weight: 700;
    font-size: 13px;
}

.managerSearch {
    position: relative;
    margin :0 10px 10px;
    padding:10px 10px 0;
}

.memberList {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 270px;
}

.memberUl{
    min-height: 170px;
    -webkit-box-flex: 1;
    flex: 1;
    height: auto;
    max-height: 270px;
    width: 100%;
    overflow-y: auto;
}

.memberSpan.active{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    max-height: 100px;
    position: relative;
    padding: 6px 10px;
    box-shadow: 0 2px 3px rgba(0,0,0,.12);
    z-index: 1;
    overflow-y: scroll;
}

.memberItem {
    margin: 0 6px 6px 0;
    background: #3064B3;
    padding: 2px;
    font-size: 12px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    border-radius: 6px;
    color: white;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.memberUl ul {
    list-style: none;
    color: black !important;
    padding-left:  0;
}

.memberUl li:hover {
    background-color: rgba(48, 100, 179, 0.51) !important;
    color: white !important;
}

.memberLi {
    padding: 0 20px;
    width: 100%;
    height: 61px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.memberUl::-webkit-scrollbar {
    width: 10px;
}
.memberUl::-webkit-scrollbar-thumb {
    background-color: #001542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.memberUl::-webkit-scrollbar-track {
    background-color: #3064B3;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.managerBtn {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-top: 1px solid #ddd;
    font-size: 13px;
    text-align: center;
    width: 100%;
    height: 34px;
    background: #fff;
    border-radius: 6px;
}

.deleteAllBtn{
    background-color: white;
    border-radius: 5px;
    left: 10px;
    right: auto;
    bottom: 8px;
    width: 45%;
    height: 26px;
    border: 1px solid #ddd;
    display: inline-block;
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.selectMemberBtn {
    background-color: #3064B3;
    color: white;
    border-radius: 5px;
    width: 45%;
    height: 26px;
    left: auto;
    right: 10px;
    bottom: 8px;
    position: absolute;
    border: 1px solid #ddd;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.memberCloseBtn {
    width: 20px;
    color: white;
    padding: 0;
    border: none;
    background-color: transparent;
    border-radius: 5px;
}

.postHeader{
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 14.5px 30px;
    background: #fff;
    border-radius: 10px;
}

.postAuthor{
    -webkit-box-flex: 1;
    flex: 1;
    display: flex;
    float: initial;
    width: calc(100% - 77px);
}

.postProfile{
    border-radius: 16px;
    width: 40px;
    height: 40px;
}

.thumbnail{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    border: 1px solid #eee;
    cursor: pointer;
    box-sizing: border-box;
    vertical-align: middle;
}

.post-author-info{
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    width: 70%;
    line-height: 18px;
    margin-left: 10px;
    vertical-align: middle;
    text-align: left;

}

.post-author-info dt {
    display: flex;
    color: #555;
    line-height: 1.1;
    align-items: center;
}

.title-header{
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px 30px 10px 30px;
    background: #fff;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.title-header:after {
    content: '';
    position: absolute;
    height: 1px;
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
    left: 30px;
    bottom: 0;
    background: #eee;
}

.authorName{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
    line-height: 18px;
    max-width: 132px;
}

.postDate{
    display: inline-block;
    min-width: 120px;
    margin: 2px 0 0 7px;
    color: #aaa;
    vertical-align: middle;
}

.post-option {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: flex-end;
    height: 40px;
}

#movePost.btn-go {
    margin-right: 0;
    min-width: 88px;
    padding: 0;
    color: #777;
    font-weight: 700;
    font-size: 13px;
    border: none;
    text-decoration: underline;
}

.btn-go {
    height: 35px;
    line-height: 33px;
    background: #fff;
    border-radius: 900px;
}

.post-setting-button{
    margin: -1px 0 0 20px;
}

.set-btn{
    padding: 4px 8px;
    margin: 1px 7px 0 30px;
    vertical-align: middle;
    cursor: pointer;
}

.postTitle{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    flex: 1;
    width: 100%;
}

.post-title-h4{
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    vertical-align: middle;
    word-break: break-word;
}

.post-state{
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    color: #999;
}

.d-inline-block {
    display: inline-block;
}

.task-number, .kanban-taskTitle{
    margin-left: 10px;
    height: 27px;
    padding: 4px 10px;
    background: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 11px;
}

.post-content{
    padding: 10px 0 20px;
    background: #fff;
}

.post-task-summary{
    font-size: 14px;
    word-break: break-word;
    line-height: 25px;
    color: #333;
    padding: 10px 30px 0;
}

.post-task-option{
    position: relative;
    margin-bottom: 25px;
}

.task-content-group, .home-content-group, .kanban-content-group{
    list-style: none;
    padding: 0;
    margin: 0;
}

.task-content-group>li, .home-content-group>li, .kanban-content-group>li{
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    min-height: 46px;
}

.task-content-group> li + li , .home-content-group >li+li, .kanban-content-group>li+li{
    padding-top: 24px !important;
}

.create-content.content-title {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 20px;
    color: #555;
    font-weight: 700;
    font-size: 14px;
}

.create-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    color: #333;
}

.task-process-btn, .home-process-btn {
    background-color: #eee;
    display: block;
    float: left;
    width: auto;
    min-width: 84px;
    height: 32px;
    padding: 0 10px;
    -webkit-border-radius: 220px;
    border-radius: 220px;
    font-weight: 700;
    font-size: 13px;
    color: #777;
    border: none;
    margin-right: 5px;
}

.manager-item, .worker-search-input {
    margin-bottom: 8px;
}
.manager-item {
    display: inline-block;
    cursor: pointer;
    margin: 0 10px 0 0;
    background: #eee;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 14px;
    color: #555;
    border: 1px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.add-manager-btn, .change-manager-btn{
    border: none !important;
    background-color: transparent !important;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    color: #999;
    text-underline-position: under;
    text-decoration: underline;
    vertical-align: top;
}

.post-startDate , .post-endDate{
    display: inline-block;
    -webkit-border-radius: 500px;
    border-radius: 500px;
    color: #555;
}

.start-date-exist, .end-date-exist{
    -webkit-box-align: center;
    -moz-box-align: center;
    align-items: center;
}

.date-value{
    margin: 0 3px 0 0;
    -webkit-border-radius: 500px;
    border-radius: 500px;
    cursor: pointer;
    color: #333;
}

.removeBtn{
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background-size: 844px auto;
    vertical-align: middle;
}

.rangeInput, .rangeInput-home, .task-rangeInput, .writeBox-rangeInput, .kanban-rangeInput{
    width: 100%;
    background: linear-gradient(to right, #FFE283 0%, #FFE283 0%, #ececec 0%, #ececec 100%);
    border-radius: 8px;
    outline: none;
    /*transition: background 450ms ease-in;*/
    -webkit-appearance: none;
    accent-color: #ffca1d;
}

.progress-graph{
    display: table;
    width: 100%;
    max-width: 130px;
    height: 6px;
    background: #eee;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    table-layout: fixed;
}

.progress-txt {
    position: absolute;
    top: -5px;
    right: -40px;
    margin-left: 10px;
    color: #777;
}

.post-taskContent, .kanban-taskContent{
    margin: 30px 0 50px 0;
}

.post-footer {
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 ;
    background-color: #bebebe;
}

.addPriority, .addPriority-home{
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    color: #999;
    text-underline-position: under;
    text-decoration: underline;
    vertical-align: top;
}

.task-addEndDate, .addEndDate, .task-addStartDate, .addStartDate{
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    color: #999;
    text-underline-position: under;
    text-decoration: underline;
    vertical-align: top;
}

.task-addEndDate::before, .addEndDate::before, .task-addStartDate::before, .addStartDate::before{
    text-align: start !important;
}

input[type='date']::before {
    content: attr(data-placeholder);
    text-align: center;
    width: 100%;
}

input[type='date']:focus::before,
input[type='date']:valid::before {
    display: none;
}