.taskAddButton{
    margin: auto;
    display: inline-block;
    color: white !important;
    background-color: #3064B3 !important;
    --bs-btn-bg: #3064B3 ;
    --bs-btn-border-color : #3064B3 ;
    --bs-btn-hover-bg : #001542;
    --bs-btn-hover-border-color : #001542;
    --bs-btn-active-bg : #001542;
    --bs-btn-active-border-color : #001542;
    --bs-btn-disabled-bg : #3064B3;
    --bs-btn-disabled-border-color : #3064B3 ;
    border-radius: 5px;

}

.btnBlue {
    background: #3064B3;
}

.btnFade.btnBlue:hover {
    background: #001542;
}

.addButton {
    display: inline-block;
    position: relative;
    float: right;
    width: 100px;
    height: 38px;
    padding: 0;
    margin: auto;
    font-weight: 600;
    text-align: center;
    line-height: 38px;
    color: #FFF;
    border-radius: 10px;
    transition: all 0.2s ;
}


.searchInput{
    text-align: center;
}

.searchIcon {
    position: absolute;
    top: 7px;
    left: 30px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none!important;
    cursor: pointer;
}

.searchIcon svg {
    width: 20px;
    height: 20px;
    fill: #5a6674;
}

#taskAddTitle {
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.5);
    width: 100%;
    height: 60px;
}

#taskAddTitle::placeholder {
    font-size: 20px;
    font-weight: bold;
}

.taskProcessBtn {
    display: inline-flex !important;
    height: 30px;
    border-radius: 30px !important;
    color: rgba(119, 119, 119, 0.62) ;
    font-size: 15px !important;
    background-color: #eeeeee !important;
    align-items: center;
    justify-content: start !important;
    margin-left: 2px;
}

.writeTaskContent{
    width: 434px;
    min-height: 200px;
    border: none;
}

.requestBtn:focus, .requestBtn.active{
    background-color: #00B2FF !important;
    color: white !important;
}

.progressBtn:focus, .progressBtn.active {
    background-color: #00B01C !important;
    color: white !important;
}

.feedBackBtn:focus, .feedBackBtn.active {
    background-color: #FD7900 !important;
    color: white !important;
}

.finishBtn:focus, .finishBtn.active {
    background-color: #402A9D !important;
    color: white !important;
}

.holdBtn:focus, .holdBtn.active {
    background-color: #777777 !important;
    color: white !important;
}

td {
    vertical-align: middle !important;
}

tr:hover td{
    background: rgba(48, 100, 179, 0.51) !important;
    color:#FFFFFF;
}

td:hover {
    border: 3px solid #3064B3 !important;
}

.detail {
    text-decoration: underline !important;
    margin-top: 3px !important;
    color: rgba(48, 100, 179, 0.82) !important;
    margin-right: 20px;
}

.detail:hover {
    color: #001542 !important;
}

.button_process {
    z-index: 10;
    padding: 9px 13px;
    background-color: white;
    border: 1px solid #777777;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 15%);
    border-radius: 4px;
    text-align: center;
    list-style: none;
}

.currentBtn {
    width: 80px !important;
    height: 30px !important;
    color: white !important;
    border-radius: 20px !important;
    line-height: 20px !important;
}

.changeBtn {
    width: 80px !important;
    height: 30px !important;
    color: white !important;
    border-radius: 20px !important;
    line-height: 20px !important;
}

.button_priority{
    z-index: 1;
    padding: 9px 8px;
    background-color: white;
    border: 1px solid #777777;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 15%);
    border-radius: 4px;
    text-align: center;
    list-style: none;
}

.button_priority li{
    color: black !important;
}

.priorityBtn {
    border : none !important;
    background-color: white !important;
    font-size: 15px!important;
}

.startDate:hover{
    background-color: transparent !important;
}

.endDate:hover{
    background-color: transparent !important;
}

tr:hover td>#startDate{
    color: white !important;
    background-color: transparent !important;
}

tr:hover td>#endDate{
    color: white !important;
    background-color: transparent !important;
}

#startDate{
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
    height: 50px !important;
}

#endDate{
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
    height: 50px !important;
}

td:hover > #startDate:hover {
    background-color: rgba(48, 100, 179, 0.51) !important;
    color: white !important;
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
}

td:hover > #endDate:hover  {
    background-color: rgba(48, 100, 179, 0.51) !important;
    color: white !important;
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}


.managerDiv {
    position: absolute;
    width: 280px;
    height: 360px;
    background-color: white;
    border : 1px solid #777777;
    box-sizing: border-box;
    box-shadow: 2px 2px 6px rgb(0, 0,0, .15);
    border-radius: 6px;
    z-index: 6;
}

.searchManagerIcon{
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 24px;
    left: 10px;
    transform: translateY(-50%);
}

.searchManagerInput{
    width: 100%;
    height: 34px;
    background: #fff;
    border: 1px solid #777;
    box-sizing: border-box;
    box-shadow: 2px 2px 6px rgba(0,0,0,.15);
    border-radius: 4px;
    padding-left: 34px;
    color: #3064B3;
    font-weight: 700;
    font-size: 13px;
}

.managerSearch {
    position: relative;
    margin :0 10px 10px;
    padding:10px 10px 0;
}

.memberList {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 270px;
}

.memberUl{
    min-height: 170px;
    -webkit-box-flex: 1;
    flex: 1;
    height: auto;
    max-height: 270px;
    width: 100%;
    overflow-y: auto;
}

.memberSpan.active{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    max-height: 100px;
    position: relative;
    padding: 6px 10px;
    box-shadow: 0 2px 3px rgba(0,0,0,.12);
    z-index: 1;
    overflow-y: scroll;
}

.memberItem {
    margin: 0 6px 6px 0;
    background: #3064B3;
    font-size: 12px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    border-radius: 6px;
    color: white;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.memberUl ul {
    list-style: none;
    color: black !important;
    padding-left:  0;
}

.memberUl li:hover {
    background-color: rgba(48, 100, 179, 0.51) !important;
    color: white !important;
}

.memberLi {
    padding: 0 20px;
    width: 100%;
    height: 61px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.memberUl::-webkit-scrollbar {
    width: 10px;
}
.memberUl::-webkit-scrollbar-thumb {
    background-color: #001542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.memberUl::-webkit-scrollbar-track {
    background-color: #3064B3;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.managerBtn {
    width: 100%;
    height: 34px;
    background: #fff;
    border-radius: 6px;
}

