.writeBox{
    width: 60%;
    overflow: hidden;
    margin: 15px 30px;
    border : 1px solid #777;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, .04);
    cursor: pointer;
}

.tool_ul {
    list-style-type: none;
    display: flex;
    padding: 0 70px;
    border-bottom: 1px solid #ddd;
    background-color: #faf9f9;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.tool_ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 15px 0;
}

.tool_ul li:first-child {
    margin: 0;
}

.tool_li svg::before {
    position: relative;
    top: 2px;
    color: #333;
    font-size: 16px;
}

.tool_li svg {
    margin-right: 10px;
}

.contentBox {
    overflow: hidden;
    padding: 5px 30px;
}

.contentBox p {
    float: left;
    font-size: 14px;
    color: #555;
}