<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INJOY</title>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>



</head>
<body>


<!--Hey! This is the original version
of Simple CSS Waves-->

<div class="header">

<!--    <div class="row enter">-->

<!--        <div class="col" style="margin: 5px">-->
<!--            <h2>로그인</h2>-->
<!--        </div>-->
<!--        <div class="col"  style="margin: 5px; color: #3B5DBA">-->
<!--            <h2>회원가입</h2>-->
<!--        </div>-->

<!--    </div>-->
    <!--Content before waves-->
    <div class="inner-header flex">

        <div class="logo">

            <h1>
                <span>I</span>
                <span>N</span>
                <span>J</span>
                <span>O</span>
                <span>Y</span>

            </h1>
        </div>

    </div>

    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/>
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7"/>
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)"/>
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)"/>
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff"/>
            </g>
        </svg>
    </div>
    <!--Waves end-->

</div>
<!--Header ends-->
<div class="content flex">

        <div class="col sign"  style="margin: 0 10px auto 10px">

            <h2 onclick="location.href='/login'">로그인</h2>
        </div>
        <div class="col sign"  style="margin: 0 10px auto 10px; color: #3B5DBA">
            <h2 onclick="location.href='/user/register'" >회원가입</h2>

        </div>


</div>

<!--Content ends-->


</body>
</html>
