<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>java로 달력 만둘기</title>
</head>
<body>

<!-- 달력 -->
<div class="table_cal_wrap">
  <div class="table_cal_title">
    <div class="prev_month">

    </div>
    <div class="title">
      년     월
    </div>
    <div class="next_month">
<!--      <a href="<c:out value="${pageUrl}" />?sYear=<c:out value="${nextYear}" />&sMonth=<c:out value="${nextMonth}" />"><span>&gt;&gt;</span></a>-->
    </div>
  </div>

  <table class="table_cal" width="100%" cellspacing="0" summary="">
    <caption>달력</caption>
    <colgroup>
      <col width="14.3%" />
      <col width="14.3%" />
      <col width="14.3%" />
      <col width="14.3%" />
      <col width="14.3%" />
      <col width="14.3%" />
      <col width="14.3%" />
    </colgroup>
    <thead>
    <tr>
      <th class="first"><span class="txt_red">일(Sun)</span></th>
      <th>월(Mon)</th>
      <th>화(Tue)</th>
      <th>수(Wed)</th>
      <th>목(Thu)</th>
      <th>금(Fri)</th>
      <th class="last"><span class="txt_blue">토(Sat)</span></th>
    </tr>
    </thead>
    <tbody>





    </tbody>
  </table>
</div>
<!--// 달력 END -->

</body>
</html>