<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BoardFileMapper">
    <insert id="insert" parameterType="BoardFileDTO">
        insert into injoy."boardFile"("boardId","fileId")
        values (#{boardId}, #{fileId})
    </insert>
    <select id="selectAll" parameterType="int"  resultType="BoardFileDTO">
        SELECT * FROM injoy."boardFile"
        INNER JOIN injoy."file"
        ON "boardFile"."fileId" = "file"."fileId"
        where "boardId" = #{boardId}
        ORDER BY "crtDate" DESC
    </select>
    <delete id="delete" parameterType="int">
        DELETE FROM injoy."boardFile"
        WHERE "boardId"=#{boardId};
    </delete>
</mapper>
