<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BoardMapper">
    <select id="selectAll" parameterType="int"  resultType="BoardDTO">
        SELECT * FROM injoy.board
        INNER JOIN injoy.user
        ON "user"."id" = "board"."boardWriterId"
        where "projectId" = #{projectId}
        ORDER BY "entryDate" DESC
    </select>
    <insert id="insert" parameterType="BoardDTO">
        insert into injoy.board("bTitle","bContent","projectId","boardWriterId")
        values (#{bTitle}, #{bContent}, #{projectId}, #{boardWriterId})
    </insert>
</mapper>
