<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BoardCommentMapper">
    <select id="selectAll" parameterType="hashmap" resultType="BoardCommentDTO">
        SELECT * FROM injoy."boardComment"
        INNER JOIN injoy.user
        ON "user"."id" = "boardComment"."authorUserId"
        where "projectId" = #{projectId} AND "boardId" = #{boardId}
        ORDER BY "crtDate" DESC
    </select>
    <select id="selectOne" parameterType="int" resultType="BoardCommentDTO">
        SELECT * FROM injoy."boardComment"
        INNER JOIN injoy.user
        ON "user"."id" = "boardComment"."authorUserId"
        where "bCommentId" = #{bCommentId}
    </select>
    <insert id="insert" parameterType="BoardCommentDTO">
        INSERT INTO injoy."boardComment"("projectId", "boardId", "authorUserId", "crtDate", "mdfDate", "bComment")
        VALUES (#{projectId}, #{boardId}, #{authorUserId}, NOW(), NOW(), #{bComment});
    </insert>
    <update id="update" parameterType="BoardCommentDTO">
        UPDATE injoy."boardComment"
        SET "mdfDate"= NOW(), "bComment" = #{bComment}
        WHERE "bCommentId"= #{bCommentId};
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM injoy."boardComment"
        WHERE "bCommentId" = #{bCommentId}
    </delete>
    <select id="myCommentAll" parameterType="int" resultType="BoardCommentDTO">
        SELECT *
        FROM (
        SELECT "bCommentId", "projectId", "boardId", "authorUserId", "crtDate", "mdfDate", "bComment", NULL AS "tCommentId", NULL AS "taskId", NULL AS "projectTaskId", NULL AS "projectAuthorUserId", NULL AS "projectCrtDate", NULL AS "projectMdfDate", NULL AS "tComment", 0 AS "calCommentId", 0 AS "calComProjectId", 0 AS "calComCalId", 0 AS "calComUserId", NULL AS "calComContent", NULL::TIMESTAMP AS "calComRegisterDate"
        FROM injoy."boardComment"
        WHERE "boardComment"."authorUserId" = 1
        UNION ALL
        SELECT NULL AS "bCommentId", NULL AS "projectId", NULL AS "boardId", NULL AS "authorUserId", NULL AS "crtDate", NULL AS "mdfDate", NULL AS "bComment", "tCommentId", "taskId", "projectId", "authorUserId", "crtDate", "mdfDate", "tComment", NULL, NULL, NULL, NULL, NULL, NULL
        FROM injoy."taskComment"
        WHERE "taskComment"."authorUserId" = 1
        UNION ALL
        SELECT NULL AS "bCommentId", NULL AS "projectId", NULL AS "boardId", NULL AS "authorUserId", NULL AS "crtDate", NULL AS "mdfDate", NULL AS "bComment", NULL AS "tCommentId", NULL AS "taskId", NULL AS "projectId", NULL AS "authorUserId", NULL AS "crtDate", NULL AS"mdfDate", NULL AS "tComment", "calCommentId", "calComProjectId", "calComCalId", "calComUserId", "calComContent", "calComRegisterDate"
        FROM injoy."calComment"
        WHERE "calComment"."calComUserId" = 1
        ) AS combined
        LEFT JOIN injoy."user" AS u ON u."id" = combined."authorUserId" OR u."id" = combined."projectAuthorUserId" OR u."id" = combined."calComUserId"
        LEFT JOIN injoy."project" AS p ON p."projectId" = combined."projectId" OR  p."projectId" = combined."projectTaskId" OR p."projectId" = combined."calComProjectId"
        ORDER BY COALESCE(combined."crtDate", combined."projectCrtDate") DESC;
    </select>
</mapper>
