<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CalendarMapper">

    <select id="selectAll" parameterType="int" resultType="CalendarDTO">
        SELECT * FROM injoy.calendar
        where "projectId" = #{projectId};
    </select>
    <select id="selectOne" parameterType="int"  resultType="CalendarDTO">
        SELECT * FROM injoy.calendar
        INNER JOIN injoy."user"
        ON "user"."id" = "calendar"."userId"
        where "calendarId" = #{calendarId}
    </select>


    <insert id="insert" parameterType="CalendarDTO">
        insert into injoy.calendar("projectId", "userId","calTitle","calContent","calStart","calEnd", "calRegister_date", "calColor",  "calTextColor", "calBorderColor", "calAddress", "calImgSrc")
        values (#{projectId}, #{userId}, #{calTitle},#{calContent}, #{calStart}, #{calEnd}, #{calRegisterDate}, #{calColor}, #{calTextColor}, #{calBorderColor}, #{calAddress}, #{calImgSrc})
    </insert>

<!--    <select id="selectUserName" parameterType="int" resultType="string" >-->
<!--        select injoy.user.name from injoy.user-->
<!--        inner join injoy.calendar-->
<!--        on "user"."id" = "calendar"."userId"-->
<!--        where "user"."id" = #{userId}-->
<!--    </select>-->

    <delete id="delete" parameterType="CalendarDTO">
        DELETE FROM "injoy"."calendar"
        WHERE "calendarId" = #{calendarId} and "projectId" = #{projectId}
    </delete>


    <select id="getUsername" parameterType="int" resultType="string">
        select "name" from injoy."user"
        where "user"."id" = #{userId};
    </select>


    <update id="update" parameterType="CalendarDTO">
        UPDATE "injoy"."calendar"
        SET "calTitle"=#{calTitle}, "calContent"= #{calContent}, "calStart" = #{calStart}, "calEnd" = #{calEnd}, "calAddress" = #{calAddress}, "calImgSrc" = #{calImgSrc}
        WHERE "projectId"=#{projectId} and "calendarId"=#{calendarId}
    </update>


    <update id="updateHome" parameterType="CalendarDTO">
        UPDATE injoy."calendar"
        SET "calTitle" = #{calTitle} , "calContent" = #{calContent} , "calStart" = #{calStart}, "calEnd" = #{calEnd}, "calAddress" = #{calAddress}
        WHERE "calendarId" = #{calendarId}
    </update>

</mapper>