<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CalendarMapper">

    <select id="selectAll" parameterType="int"  resultType="CalendarDTO">
        SELECT * FROM injoy.calendar;
    </select>
    <select id="selectOne" parameterType="int"  resultType="CalendarDTO">
        SELECT * FROM injoy.calendar
        where "calendarId" = #{calendarId}
    </select>


    <insert id="insert" parameterType="CalendarDTO">
        insert into injoy.calendar("projectId", "userId","calTitle","calContent","calStart","calEnd", "calRegister_date", "calColor",  "calTextColor", "calBorderColor", "calAddress", "calImgSrc")
        values (#{projectId}, #{userId}, #{calTitle},#{calContent}, #{calStart}, #{calEnd}, #{calRegister_date}, #{calColor}, #{calTextColor}, #{calBorderColor}, #{calAddress}, #{calImgSrc})
    </insert>

<!--    <select id="selectUserName" parameterType="int" resultType="string" >-->
<!--        select injoy.user.name from injoy.user-->
<!--        inner join injoy.calendar-->
<!--        on "user"."id" = "calendar"."userId"-->
<!--        where "user"."id" = #{userId}-->
<!--    </select>-->

    <delete id="delete" parameterType="CalendarDTO">
        DELETE FROM "injoy"."calendar"
        WHERE "calendarId" = #{calendarId} and "projectId" = #{projectId}
    </delete>


    <select id="getUsername" parameterType="int" resultType="string">
        select "name" from injoy."user"
        where "user"."id" = #{userId};
    </select>



</mapper>