<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CalendarMapper">


    <insert id="insert" parameterType="CalendarDTO">
        insert into injoy.calendar("title","content","start","end","color")
        values (#{title},#{content},#{start},#{end},#{color})
    </insert>




</mapper>