<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.FileMapper">

    <insert id="insert" parameterType="FileDTO" keyProperty="fileId" useGeneratedKeys="true">
        INSERT INTO injoy.file( "projectId", "userId", "fileName", "fileSize", "folderId", "fileRealPath", "uniqueName", "fileExtension")
        VALUES ( #{projectId}, #{userId}, #{fileName}, #{fileSize}, #{folderId}, #{fileRealPath}, #{uniqueName}, #{fileExtension});
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM injoy."file"
        WHERE "fileId"=#{fileId};
    </delete>

    <select id="selectOne" parameterType="int" resultType="FileDTO">
        select * from injoy."file"
        WHERE "fileId"=#{fileId};
    </select>
    <select id="allFile" parameterType="int" resultType="FileDTO">

        SELECT * FROM injoy."file" f
        inner join injoy."folder" fol
        on f."folderId" = fol."folderId"
        inner join injoy."project" P
        on f."projectId" = p."projectId"
        inner join injoy."user" u
        on f."userId" = u."id"
        where f."projectId" in
        ( SELECT p."projectId" FROM injoy."project" P
        inner join injoy."projectMember" m
        on p."projectId" = m."projectId"
        where  m."userId" =#{userId}  and "authority" != 'REQUEST'  and "authority" != 'INVITE')

    </select>
    <select id="allSearchFile" parameterType="FileDTO" resultType="FileDTO">

        SELECT * FROM injoy."file" f
        inner join injoy."folder" fol
        on f."folderId" = fol."folderId"
        inner join injoy."project" P
        on f."projectId" = p."projectId"
        inner join injoy."user" u
        on f."userId" = u."id"
        where f."projectId" in
        ( SELECT p."projectId" FROM injoy."project" P
        inner join injoy."projectMember" m
        on p."projectId" = m."projectId"
        where  m."userId" =#{userId}  and "authority" != 'REQUEST'  and "authority" != 'INVITE')
        and f."fileName" like concat('%', #{keyword},'%');

    </select>
    <select id="selectFile" parameterType="FileDTO" resultType="FileDTO">
        SELECT * FROM injoy."file" f
        inner join injoy."user" u
        on f."userId" = u."id"
        where "projectId" = #{projectId} and "folderId" = #{folderId};
    </select>

    <select id="searchFile" parameterType="FileDTO" resultType="FileDTO">
        SELECT * FROM injoy."file" f
        inner join injoy."user" u
        on f."userId" = u."id"
        where "projectId" = #{projectId} and "fileName" like concat('%', #{keyword},'%');
    </select>

    <update id="update" parameterType="hashmap"  >
        UPDATE injoy.file
        SET  "folderId" = ( SELECT f1."folderId" FROM injoy.folder f1
        inner join (SELECT "folderId",  "folderRoot" || "folderName" root
        FROM injoy.folder) f2
        on f1."folderId" = f2."folderId"

        <if test=' "/".equals(root)'>
            where   f1."projectId" = #{projectId} and root is null
        </if>
        <if test='!"/".equals(root)'>
            where  f1."projectId" = #{projectId} and  root = #{root}
        </if>

       ) WHERE "fileId" =#{fileId} ;

    </update>

</mapper>
