<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ProjectMemberMapper">
    <select id="selectMember" parameterType="int" resultType="projectMemberDTO">
        SELECT * FROM injoy."projectMember" m
        inner join injoy."user" u
        on m."userId" = u."id"
        where "projectId"=#{projectId} and "authority" != 'REQUEST' and "authority" != 'INVITE'
    </select>

<!--    <select id="selectOne" parameterType="hashmap" resultType="ProjectMemberDTO">-->
<!--        SELECT * FROM injoy."projectMember"-->
<!--        where "projectId" = #{projectId} and "userId" = #{userId}-->
<!--    </select>-->

    <select id="searchUser"  parameterType="ProjectMemberDTO" resultType="projectMemberDTO">
        SELECT * FROM injoy."user" u
        left join (SELECT "userId" FROM injoy."projectMember"
        where "projectId"=#{projectId}) m
        on u."id" = m."userId"
        where m."userId" IS NULL
        and ("name" LIKE CONCAT('%', #{keyword}, '%')
        or  "phoneNumber" LIKE CONCAT('%', #{keyword}, '%')
        or "email" LIKE CONCAT('%', #{keyword}, '%')
        or "username" LIKE CONCAT('%', #{keyword}, '%'))


    </select>

    <select id="searchMember" parameterType="ProjectMemberDTO" resultType="projectMemberDTO">
        SELECT * FROM injoy."user" u
        left join (SELECT "userId" FROM injoy."projectMember"
        where "projectId"=#{projectId}) m
        on u."id" = m."userId"
        where m."userId" IS not NULL
        and ("name" LIKE CONCAT('%', #{keyword}, '%')
        or  "phoneNumber" LIKE CONCAT('%', #{keyword}, '%')
        or "email" LIKE CONCAT('%', #{keyword}, '%')
        or "username" LIKE CONCAT('%', #{v}, '%'))
    </select>


    <select id="selectWaitMember" parameterType="int" resultType="projectMemberDTO">
        SELECT * FROM injoy."projectMember" m
        inner join injoy."user" u
        on m."userId" = u."id"
        where "projectId"=#{projectId} and "authority" = 'REQUEST'
    </select>


    <select id="selectInviteMember" parameterType="int" resultType="projectMemberDTO">
        SELECT * FROM injoy."projectMember" m
        inner join injoy."user" u
        on m."userId" = u."id"
        where "projectId"=#{projectId} and "authority" = 'INVITE'
    </select>

    <select id="authority" parameterType="hashmap" resultType="projectMemberDTO" >
        select * from injoy."projectMember" m
        inner join injoy."user" u
        on m."userId"= u."id"
        where "userId"=#{userId} and "projectId" = #{projectId}
    </select>

    <select id="confirmInvite" parameterType="int" resultType="projectDTO">
        select * from injoy."projectMember" m
        inner join injoy."project" p
        on m."projectId" = p."projectId"
        where "userId" = #{userId} and "authority" = 'INVITE'
    </select>


    <insert id="insert" parameterType="projectMemberDTO" >
        insert into injoy."projectMember"( "projectId",  "userId", "authority")
        values ( #{projectId},  #{userId}, #{authority})
    </insert>

    <delete id="delete" parameterType="int">
        delete from injoy."projectMember"
        where "userId" = #{userId} and "projectId" = #{projectId}
    </delete>

    <update id="update" parameterType="projectMemberDTO">
        update injoy."projectMember"
        set "authority"= #{authority}
        where "userId" =#{userId} and "projectId" = #{projectId}
    </update>
</mapper>
