<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.TaskMapper">
    <select id="viewAll" parameterType="int" resultType="TaskDTO">
        SELECT *
        FROM (
        SELECT "boardId", "projectId", "bTitle", "bContent", "entryDate", "boardWriterId",
        NULL AS "taskId", NULL AS "authorUserId", NULL AS "crtDate", NULL AS "mdfDate", NULL AS "taskTitle", NULL AS "taskContent", NULL AS "startDate", NULL AS "closingDate", NULL AS "process", NULL AS "progress", NULL AS "priority",
        0 AS "calendarId" , 0 AS "userId", NULL AS "calTitle", NULL AS "calContent", NULL::TIMESTAMP AS "calStart", NULL::TIMESTAMP AS "calEnd", NULL::TIMESTAMP AS "calRegister_date", NULL AS "calColor", NULL AS "calTextColor", NULL AS "calBorderColor", NULL AS "calAddress", NULL AS "calImgSrc"
        FROM injoy.board
        WHERE "board"."projectId" = #{projectId}
        UNION ALL
        SELECT NULL, "projectId", NULL, NULL, NULL, NULL, "taskId", "authorUserId", "crtDate", "mdfDate", "taskTitle", "taskContent", "startDate", "closingDate", "process", "progress", "priority", NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL
        FROM injoy.task
        WHERE "task"."projectId" = #{projectId}
        UNION ALL
        SELECT NULL, "projectId", NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, "calendarId", "userId", "calTitle", "calContent", "calStart", "calEnd", "calRegister_date", "calColor", "calTextColor", "calBorderColor", "calAddress", "calImgSrc"
        FROM injoy.calendar
        WHERE "calendar"."projectId" = #{projectId}
        ) AS combined
        LEFT JOIN injoy.user
        ON injoy.user."id" = combined."boardWriterId" OR injoy.user."id" = combined."authorUserId" OR injoy.user."id" = combined."userId"
        ORDER BY COALESCE(combined."entryDate", combined."crtDate", combined."calRegister_date") DESC;
    </select>
    <select id="myTextAll" parameterType="int" resultType="TaskDTO">
        SELECT *
        FROM (
        SELECT
        NULL AS "boardId", "projectId", NULL AS "bTitle", NULL AS "bContent", NULL AS "entryDate", NULL AS "boardWriterId",
        "taskId", "authorUserId", "crtDate", "mdfDate", "taskTitle", "taskContent", "startDate", "closingDate", "process", "progress", "priority",
        0 AS "calendarId", 0 AS "userId", NULL AS "calTitle", NULL AS "calContent", NULL::TIMESTAMP AS "calStart", NULL::TIMESTAMP AS "calEnd", NULL::TIMESTAMP AS "calRegister_date", NULL AS "calColor", NULL AS "calTextColor",  NULL AS "calBorderColor", NULL AS "calAddress", NULL AS "calImgSrc"
        FROM injoy.task
        WHERE "task"."authorUserId" = #{userId}
        UNION ALL
        SELECT
        "boardId", "projectId", "bTitle", "bContent", "entryDate", "boardWriterId",
        NULL AS "taskId", NULL AS "authorUserId", NULL AS "crtDate", NULL AS "mdfDate", NULL AS "taskTitle", NULL AS "taskContent", NULL AS "startDate", NULL AS "closingDate", NULL AS "process", NULL AS "progress", NULL AS "priority",
        NULL AS "calendarId", NULL AS "userId", NULL AS "calTitle", NULL AS "calContent", NULL AS "calStart", NULL AS "calEnd", NULL AS "calRegister_date", NULL AS "calColor", NULL AS "calTextColor", NULL AS "calBorderColor", NULL AS "calAddress", NULL AS "calImgSrc"
        FROM injoy.board
        WHERE "board"."boardWriterId" = #{userId}
        UNION ALL
        SELECT
        NULL AS "boardId", "projectId", NULL AS "bTitle", NULL AS "bContent", NULL AS "entryDate", NULL AS "boardWriterId",
        NULL AS "taskId", NULL AS "authorUserId", NULL AS "crtDate", NULL AS "mdfDate", NULL AS "taskTitle", NULL AS "taskContent", NULL AS "startDate", NULL AS "closingDate", NULL AS "process", NULL AS "progress", NULL AS "priority",
        "calendarId", "userId", "calTitle", "calContent", "calStart", "calEnd", "calRegister_date", "calColor", "calTextColor", "calBorderColor", "calAddress", "calImgSrc"
        FROM injoy.calendar
        WHERE "calendar"."userId" = #{userId}
        ) AS combined
        LEFT JOIN injoy.user
        ON injoy.user."id" = combined."boardWriterId"
        OR injoy.user."id" = combined."authorUserId"
        OR injoy.user."id" = combined."userId"
        LEFT JOIN injoy.project
        ON injoy.project."projectId" = combined."projectId"
        ORDER BY COALESCE(combined."entryDate", combined."crtDate", combined."calRegister_date") DESC;

    </select>
    <select id="selectAll" parameterType="int"  resultType="TaskDTO">
        SELECT * FROM injoy.task
        INNER JOIN injoy.user
        ON "user"."id" = "task"."authorUserId"
        where "projectId" = #{projectId}
        ORDER BY "crtDate" DESC
    </select>
    <select id="selectOne" parameterType="int" resultType="TaskDTO">
        SELECT * FROM injoy.task
        INNER JOIN injoy.user
        ON "user"."id" = "task"."authorUserId"
        where "taskId" = #{taskId}
    </select>
    <insert id="insert" parameterType="TaskDTO" keyProperty="taskId" useGeneratedKeys="true">
        INSERT INTO injoy.task("authorUserId", "crtDate", "mdfDate", "taskTitle", "taskContent", "projectId", "startDate", "closingDate", process, progress, priority)
        VALUES (#{authorUserId}, NOW(), NOW(), #{taskTitle}, #{taskContent}, #{projectId}, #{startDate}, #{closingDate}, #{process}, #{progress}, #{priority})
    </insert>
    <update id="updateProcess" parameterType="TaskDTO">
        UPDATE injoy.task
        SET "process" = #{process}, "mdfDate" = NOW()
        WHERE "taskId" = #{taskId}
    </update>
    <update id="updateProgress" parameterType="TaskDTO">
        UPDATE injoy.task
        SET "progress" = #{progress}, "mdfDate" = NOW()
        WHERE "taskId" = #{taskId}
    </update>
    <update id="updatePriority" parameterType="TaskDTO">
        UPDATE injoy.task
        SET "priority" = #{priority}, "mdfDate" = NOW()
        WHERE "taskId" = #{taskId}
    </update>
    <update id="updateTitle" parameterType="TaskDTO">
        UPDATE injoy.task
        SET "taskTitle" = #{taskTitle}, "mdfDate" = NOW()
        WHERE "taskId" = #{taskId}
    </update>
    <update id="updateStartDate" parameterType="TaskDTO">
        UPDATE injoy.task
        SET "startDate" = #{startDate}, "mdfDate" = NOW()
        WHERE "taskId" = #{taskId}
    </update>
    <update id="updateEndDate" parameterType="TaskDTO">
        UPDATE injoy.task
        SET "closingDate" = #{closingDate}, "mdfDate" = NOW()
        WHERE "taskId" = #{taskId}
    </update>
    <select id="findTask" parameterType="map" resultType="TaskDTO">
        SELECT * FROM injoy.task
        INNER JOIN injoy."user"
        ON "user".id = "task"."authorUserId"
        where "projectId" = #{projectId}
        AND
        ("taskTitle" LIKE concat('%', #{keyword}, '%')
        OR
        CAST("taskId" AS TEXT) LIKE concat('%', #{keyword}, '%'))
    </select>
    <update id="updateTask" parameterType="TaskDTO">
        UPDATE injoy.task
        SET "taskTitle" = #{taskTitle}, "process" = #{process}, "priority" = #{priority}, "progress" = #{progress}, "startDate" = #{startDate}, "closingDate" = #{closingDate}, "taskContent" = #{taskContent}, "mdfDate" = NOW()
        WHERE "taskId" = #{taskId}
    </update>
    <delete id="deleteTask" parameterType="int">
        DELETE FROM injoy.task
        WHERE "taskId" = #{taskId}
    </delete>
</mapper>
